﻿.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileinput-button-nofloat {
  position: relative;
  overflow: hidden; 
  margin-right: 4px;
}
.fileinput-button-nofloat input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

.fileinput-radio {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput- abso input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

th
{
    border-style:solid;
    border-width:1px;
    border-color:gray;
    background-color: #5b96c0;
    color:White;
    font-weight :200;
   
}

/*td
{
     border-style:solid;
    border-width:1px;
}*/

table
{
    border-style:solid;
    border-width:1px;
}