/*!
* jQuery Mobile 1.4.5
* Git HEAD hash: 68e55e78b292634d3991c795f06f5e37a512decc <> Date: Fri Oct 31 2014 17:33:30 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2014 jQuery Foundation, Inc. and othercontributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Globals */
/* Font
-----------------------------------------------------------------------------------------------------------*/
html {
	font-size: 100%;
}
body,
input,
select,
textarea,
button,
.ui-btn {
	font-size: 1em;
	line-height: 1.3;
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
legend,
.ui-input-text input,
.ui-input-search input {
	color: inherit;
	text-shadow: inherit;
}
/* Form labels (overrides font-weight bold in bars, and mini font-size) */
.ui-mobile label,
div.ui-controlgroup-label {
	font-weight: normal;
	font-size: 16px;
}
/* Separators
-----------------------------------------------------------------------------------------------------------*/
/* Field contain separator (< 28em) */
.ui-field-contain {
	border-bottom-color: #828282;
	border-bottom-color: rgba(0,0,0,.15);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/* Table opt-in classes: strokes between each row, and alternating row stripes */
/* Classes table-stroke and table-stripe are deprecated in 1.4. */
.table-stroke thead th,
.table-stripe thead th,
.table-stripe tbody tr:last-child {
	border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-stroke tbody th,
.table-stroke tbody td {
	border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.table-stripe.table-stroke tbody tr:last-child th,
.table-stripe.table-stroke tbody tr:last-child td {
	border-bottom: 0;
}
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
	background-color: #eeeeee; /* non-RGBA fallback  */
	background-color: rgba(0,0,0,.04);
}
/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn,
label.ui-btn {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
}
.ui-btn {
	text-decoration: none !important;
}
.ui-btn-active {
	cursor: pointer;
}
/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-btn-corner-all deprecated in 1.4 */
.ui-corner-all {
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
}
/* Buttons */
.ui-btn-corner-all,
.ui-btn.ui-corner-all,
/* Slider track */
.ui-slider-track.ui-corner-all,
/* Flipswitch */
.ui-flipswitch.ui-corner-all,
/* Count bubble */
.ui-li-count {
	-webkit-border-radius: 1em /*{global-radii-buttons}*/;
	border-radius: 1em /*{global-radii-buttons}*/;
}
/* Icon-only buttons */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Radius clip workaround for cleaning up corner trapping */
.ui-btn-corner-all,
.ui-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
/* Popup arrow */
.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
	left: .6em /*{global-radii-blocks}*/;
	right: .6em /*{global-radii-blocks}*/;
	top: .6em /*{global-radii-blocks}*/;
	bottom: .6em /*{global-radii-blocks}*/;
}
/* Shadow
-----------------------------------------------------------------------------------------------------------*/
.ui-shadow {
	-webkit-box-shadow: 0 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	-moz-box-shadow: 0 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	box-shadow: 0 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
}
.ui-shadow-inset {
	-webkit-box-shadow: inset 0 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	-moz-box-shadow: inset 0 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	box-shadow: inset 0 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
}
.ui-overlay-shadow {
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	background-color: #666 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,.4) /*{global-icon-disc}*/;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Alt icons */
.ui-alt-icon.ui-btn:after,
.ui-alt-icon .ui-btn:after,
html .ui-alt-icon.ui-checkbox-off:after,
html .ui-alt-icon.ui-radio-off:after,
html .ui-alt-icon .ui-checkbox-off:after,
html .ui-alt-icon .ui-radio-off:after {
	background-color: #666 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,.4) /*{global-icon-disc}*/;
}
/* No disc */
.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after {
	background-color: transparent;
}
/* Icon shadow */
.ui-shadow-icon.ui-btn:after,
.ui-shadow-icon .ui-btn:after {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}
/* Checkbox and radio */
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after,
.ui-btn.ui-radio-off:after,
.ui-btn.ui-radio-on:after {
	display: block;
	width: 18px;
	height: 18px;
	margin: -9px 2px 0 2px;
}
.ui-checkbox-off:after,
.ui-btn.ui-radio-off:after {
	filter: Alpha(Opacity=30);
	opacity: .3;
}
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after {
	-webkit-border-radius: .1875em;
	border-radius: .1875em;
}
.ui-btn.ui-checkbox-off:after {
	background-color: #666;
	background-color: rgba(0,0,0,.3);
}
.ui-radio .ui-btn.ui-radio-on:after {
	background-image: none;
	background-color: #fff;
	width: 8px;
	height: 8px;
	border-width: 5px;
	border-style: solid; 
}
.ui-alt-icon.ui-btn.ui-radio-on:after,
.ui-alt-icon .ui-btn.ui-radio-on:after {
	background-color: #000;
}
/* Loader */
.ui-icon-loading {
	background: url("images/ajax-loader.gif");
	background-size: 2.875em 2.875em;
}
/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background-color: #111111 /*{a-bar-background-color}*/;
	border-color: #333 /*{a-bar-border}*/;
	color: #fff /*{a-bar-color}*/;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-a {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: #222 /*{a-page-background-color}*/;
	border-color: #444 /*{a-page-border}*/;
	color: #fff /*{a-page-color}*/;
	text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 1px /*{a-page-shadow-radius}*/ #111 /*{a-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
	background-color: #222 /*{a-body-background-color}*/;
	border-color: #444 /*{a-body-border}*/;
	color: #fff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
}
.ui-body-a {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #3388cc /*{a-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
    color: #3388cc /*{a-link-visited}*/;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #005599 /*{a-link-hover}*/;
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
	color: #005599 /*{a-link-active}*/;
}
/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	background-color: #333 /*{a-bup-background-color}*/;
	border-color: #111 /*{a-bup-border}*/;
	color: #fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	background-color: #444444 /*{a-bhover-background-color}*/;
	border-color: #000 /*{a-bhover-border}*/;
	color: #fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #111 /*{a-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
	background-color: #222 /*{a-bdown-background-color}*/;
	border-color: #000 /*{a-bdown-border}*/;
	color: #fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #3388cc /*{a-active-background-color}*/;
	border-color: #1c4a70 /*{a-active-border}*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color: #3388cc /*{a-active-background-color}*/;
}
/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
}
/* B
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
	background-color: #5e87b0 /*{b-bar-background-color}*/;
	border-color: #456f9a /*{b-bar-border}*/;
	color: #fff /*{b-bar-color}*/;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-b {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-b,
.ui-page-theme-b,
.ui-page-theme-b .ui-panel-wrapper {
	background-color: #f3f3f3 /*{b-page-background-color}*/;
	border-color: #999 /*{b-page-border}*/;
	color: #333333 /*{b-page-color}*/;
	text-shadow: 0 /*{b-page-shadow-x}*/ 1px /*{b-page-shadow-y}*/ 0 /*{b-page-shadow-radius}*/ #fff /*{b-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
	background-color: #f3f3f3 /*{b-body-background-color}*/;
	border-color: #999 /*{b-body-border}*/;
	color: #333333 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
}
.ui-body-b {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-b a,
html .ui-bar-b a,
html .ui-body-b a,
html body .ui-group-theme-b a {
	color: #3388cc /*{b-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-b a:visited,
html .ui-bar-b a:visited,
html .ui-body-b a:visited,
html body .ui-group-theme-b a:visited {
    color: #3388cc /*{b-link-visited}*/;
}
.ui-page-theme-b a:hover,
html .ui-bar-b a:hover,
html .ui-body-b a:hover,
html body .ui-group-theme-b a:hover {
	color: #005599 /*{b-link-hover}*/;
}
.ui-page-theme-b a:active,
html .ui-bar-b a:active,
html .ui-body-b a:active,
html body .ui-group-theme-b a:active {
	color: #005599 /*{b-link-active}*/;
}
/* Button up */
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
/* Button visited */
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
	background-color: #396b9e /*{b-bup-background-color}*/;
	border-color: #044062 /*{b-bup-border}*/;
	color: #fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-b .ui-btn:hover,
html .ui-bar-b .ui-btn:hover,
html .ui-body-b .ui-btn:hover,
html body .ui-group-theme-b .ui-btn:hover,
html head + body .ui-btn.ui-btn-b:hover {
	background-color: #4b88b6 /*{b-bhover-background-color}*/;
	border-color: #00415e /*{b-bhover-border}*/;
	color: #fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-b .ui-btn:active,
html .ui-bar-b .ui-btn:active,
html .ui-body-b .ui-btn:active,
html body .ui-group-theme-b .ui-btn:active,
html head + body .ui-btn.ui-btn-b:active {
	background-color: #4e89c5 /*{b-bdown-background-color}*/;
	border-color: #225377 /*{b-bdown-border}*/;
	color: #fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-b.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-b .ui-checkbox-on:after,
html .ui-bar-b .ui-checkbox-on:after,
html .ui-body-b .ui-checkbox-on:after,
html body .ui-group-theme-b .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-b:after,
/* Active flipswitch background */
.ui-page-theme-b .ui-flipswitch-active,
html .ui-bar-b .ui-flipswitch-active,
html .ui-body-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active {
	background-color: #3388cc /*{b-active-background-color}*/;
	border-color: #1c4a70 /*{b-active-border}*/;
	color: #ffffff /*{b-active-color}*/;
	text-shadow: 0 /*{b-active-shadow-x}*/ 1px /*{b-active-shadow-y}*/ 0 /*{b-active-shadow-radius}*/ #005599 /*{b-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-b .ui-radio-on:after,
html .ui-bar-b .ui-radio-on:after,
html .ui-body-b .ui-radio-on:after,
html body .ui-group-theme-b .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-b:after {
	border-color: #3388cc /*{b-active-background-color}*/;
}
/* Focus */
.ui-page-theme-b .ui-btn:focus,
html .ui-bar-b .ui-btn:focus,
html .ui-body-b .ui-btn:focus,
html body .ui-group-theme-b .ui-btn:focus,
html head + body .ui-btn.ui-btn-b:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-b .ui-focus,
html .ui-bar-b .ui-focus,
html .ui-body-b .ui-focus,
html body .ui-group-theme-b .ui-focus,
html head + body .ui-btn-b.ui-focus,
html head + body .ui-body-b.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
}


/* C
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-c,
.ui-page-theme-c .ui-bar-inherit,
html .ui-bar-c .ui-bar-inherit,
html .ui-body-c .ui-bar-inherit,
html body .ui-group-theme-c .ui-bar-inherit {
	background-color: #eeeeee /*{c-bar-background-color}*/;
	border-color: #B3B3B3 /*{c-bar-border}*/;
	color: #3E3E3E /*{c-bar-color}*/;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ #fff /*{c-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-c {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-c,
.ui-page-theme-c,
.ui-page-theme-c .ui-panel-wrapper {
	background-color: #f9f9f9 /*{c-page-background-color}*/;
	border-color: #aaa /*{c-page-border}*/;
	color: #333333 /*{c-page-color}*/;
	text-shadow: 0 /*{c-page-shadow-x}*/ 1px /*{c-page-shadow-y}*/ 0 /*{c-page-shadow-radius}*/ #fff /*{c-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-c,
.ui-page-theme-c .ui-body-inherit,
html .ui-bar-c .ui-body-inherit,
html .ui-body-c .ui-body-inherit,
html body .ui-group-theme-c .ui-body-inherit,
html .ui-panel-page-container-c {
	background-color: #f9f9f9 /*{c-body-background-color}*/;
	border-color: #aaa /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
}
.ui-body-c {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-c a,
html .ui-bar-c a,
html .ui-body-c a,
html body .ui-group-theme-c a {
	color: #3388cc /*{c-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-c a:visited,
html .ui-bar-c a:visited,
html .ui-body-c a:visited,
html body .ui-group-theme-c a:visited {
    color: #3388cc /*{c-link-visited}*/;
}
.ui-page-theme-c a:hover,
html .ui-bar-c a:hover,
html .ui-body-c a:hover,
html body .ui-group-theme-c a:hover {
	color: #005599 /*{c-link-hover}*/;
}
.ui-page-theme-c a:active,
html .ui-bar-c a:active,
html .ui-body-c a:active,
html body .ui-group-theme-c a:active {
	color: #005599 /*{c-link-active}*/;
}
/* Button up */
.ui-page-theme-c .ui-btn,
html .ui-bar-c .ui-btn,
html .ui-body-c .ui-btn,
html body .ui-group-theme-c .ui-btn,
html head + body .ui-btn.ui-btn-c,
/* Button visited */
.ui-page-theme-c .ui-btn:visited,
html .ui-bar-c .ui-btn:visited,
html .ui-body-c .ui-btn:visited,
html body .ui-group-theme-c .ui-btn:visited,
html head + body .ui-btn.ui-btn-c:visited {
	background-color: #eee /*{c-bup-background-color}*/;
	border-color: #ccc /*{c-bup-border}*/;
	color: #2F3E46 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-c .ui-btn:hover,
html .ui-bar-c .ui-btn:hover,
html .ui-body-c .ui-btn:hover,
html body .ui-group-theme-c .ui-btn:hover,
html head + body .ui-btn.ui-btn-c:hover {
	background-color: #dfdfdf /*{c-bhover-background-color}*/;
	border-color: #bbb /*{c-bhover-border}*/;
	color: #2F3E46 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-c .ui-btn:active,
html .ui-bar-c .ui-btn:active,
html .ui-body-c .ui-btn:active,
html body .ui-group-theme-c .ui-btn:active,
html head + body .ui-btn.ui-btn-c:active {
	background-color: #d6d6d6 /*{c-bdown-background-color}*/;
	border-color: #bbb /*{c-bdown-border}*/;
	color: #2F3E46 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-c .ui-btn.ui-btn-active,
html .ui-bar-c .ui-btn.ui-btn-active,
html .ui-body-c .ui-btn.ui-btn-active,
html body .ui-group-theme-c .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-c.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-c .ui-checkbox-on:after,
html .ui-bar-c .ui-checkbox-on:after,
html .ui-body-c .ui-checkbox-on:after,
html body .ui-group-theme-c .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-c:after,
/* Active flipswitch background */
.ui-page-theme-c .ui-flipswitch-active,
html .ui-bar-c .ui-flipswitch-active,
html .ui-body-c .ui-flipswitch-active,
html body .ui-group-theme-c .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-c.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-c .ui-slider-track .ui-btn-active,
html .ui-bar-c .ui-slider-track .ui-btn-active,
html .ui-body-c .ui-slider-track .ui-btn-active,
html body .ui-group-theme-c .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-c .ui-btn-active {
	background-color: #3388cc /*{c-active-background-color}*/;
	border-color: #1c4a70 /*{c-active-border}*/;
	color: #ffffff /*{c-active-color}*/;
	text-shadow: 0 /*{c-active-shadow-x}*/ 1px /*{c-active-shadow-y}*/ 0 /*{c-active-shadow-radius}*/ #005599 /*{c-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-c .ui-radio-on:after,
html .ui-bar-c .ui-radio-on:after,
html .ui-body-c .ui-radio-on:after,
html body .ui-group-theme-c .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-c:after {
	border-color: #3388cc /*{c-active-background-color}*/;
}
/* Focus */
.ui-page-theme-c .ui-btn:focus,
html .ui-bar-c .ui-btn:focus,
html .ui-body-c .ui-btn:focus,
html body .ui-group-theme-c .ui-btn:focus,
html head + body .ui-btn.ui-btn-c:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-c .ui-focus,
html .ui-bar-c .ui-focus,
html .ui-body-c .ui-focus,
html body .ui-group-theme-c .ui-focus,
html head + body .ui-btn-c.ui-focus,
html head + body .ui-body-c.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
}


/* D
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-d,
.ui-page-theme-d .ui-bar-inherit,
html .ui-bar-d .ui-bar-inherit,
html .ui-body-d .ui-bar-inherit,
html body .ui-group-theme-d .ui-bar-inherit {
	background-color: #bbb /*{d-bar-background-color}*/;
	border-color: #FF0f00 /*{d-bar-border}*/;
	color: #333333 /*{d-bar-color}*/;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 0 /*{d-bar-shadow-radius}*/ #eee /*{d-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-d {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-d,
.ui-page-theme-d,
.ui-page-theme-d .ui-panel-wrapper {
	background-color: #ffffff /*{d-page-background-color}*/;
	border-color: #bbb /*{d-page-border}*/;
	color: #333333 /*{d-page-color}*/;
	text-shadow: 0 /*{d-page-shadow-x}*/ 1px /*{d-page-shadow-y}*/ 0 /*{d-page-shadow-radius}*/ #fff /*{d-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-d,
.ui-page-theme-d .ui-body-inherit,
html .ui-bar-d .ui-body-inherit,
html .ui-body-d .ui-body-inherit,
html body .ui-group-theme-d .ui-body-inherit,
html .ui-panel-page-container-d {
	background-color: #ffffff /*{d-body-background-color}*/;
	border-color: #bbb /*{d-body-border}*/;
	color: #333333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #fff /*{d-body-shadow-color}*/;
}
.ui-body-d {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-d a,
html .ui-bar-d a,
html .ui-body-d a,
html body .ui-group-theme-d a {
	color: #3388cc /*{d-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-d a:visited,
html .ui-bar-d a:visited,
html .ui-body-d a:visited,
html body .ui-group-theme-d a:visited {
    color: #3388cc /*{d-link-visited}*/;
}
.ui-page-theme-d a:hover,
html .ui-bar-d a:hover,
html .ui-body-d a:hover,
html body .ui-group-theme-d a:hover {
	color: #005599 /*{d-link-hover}*/;
}
.ui-page-theme-d a:active,
html .ui-bar-d a:active,
html .ui-body-d a:active,
html body .ui-group-theme-d a:active {
	color: #005599 /*{d-link-active}*/;
}
/* Button up */
.ui-page-theme-d .ui-btn,
html .ui-bar-d .ui-btn,
html .ui-body-d .ui-btn,
html body .ui-group-theme-d .ui-btn,
html head + body .ui-btn.ui-btn-d,
/* Button visited */
.ui-page-theme-d .ui-btn:visited,
html .ui-bar-d .ui-btn:visited,
html .ui-body-d .ui-btn:visited,
html body .ui-group-theme-d .ui-btn:visited,
html head + body .ui-btn.ui-btn-d:visited {
	background-color: #fff /*{d-bup-background-color}*/;
	border-color: #bbb /*{d-bup-border}*/;
	color: #333 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #fff /*{d-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-d .ui-btn:hover,
html .ui-bar-d .ui-btn:hover,
html .ui-body-d .ui-btn:hover,
html body .ui-group-theme-d .ui-btn:hover,
html head + body .ui-btn.ui-btn-d:hover {
	background-color: #eeeeee /*{d-bhover-background-color}*/;
	border-color: #aaa /*{d-bhover-border}*/;
	color: #333 /*{d-bhover-color}*/;
	text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 0 /*{d-bhover-shadow-radius}*/ #fff /*{d-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-d .ui-btn:active,
html .ui-bar-d .ui-btn:active,
html .ui-body-d .ui-btn:active,
html body .ui-group-theme-d .ui-btn:active,
html head + body .ui-btn.ui-btn-d:active {
	background-color: #eee /*{d-bdown-background-color}*/;
	border-color: #aaa /*{d-bdown-border}*/;
	color: #333 /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 0 /*{d-bdown-shadow-radius}*/ #ffffff /*{d-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-d .ui-btn.ui-btn-active,
html .ui-bar-d .ui-btn.ui-btn-active,
html .ui-body-d .ui-btn.ui-btn-active,
html body .ui-group-theme-d .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-d.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-d .ui-checkbox-on:after,
html .ui-bar-d .ui-checkbox-on:after,
html .ui-body-d .ui-checkbox-on:after,
html body .ui-group-theme-d .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-d:after,
/* Active flipswitch background */
.ui-page-theme-d .ui-flipswitch-active,
html .ui-bar-d .ui-flipswitch-active,
html .ui-body-d .ui-flipswitch-active,
html body .ui-group-theme-d .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-d.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-d .ui-slider-track .ui-btn-active,
html .ui-bar-d .ui-slider-track .ui-btn-active,
html .ui-body-d .ui-slider-track .ui-btn-active,
html body .ui-group-theme-d .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-d .ui-btn-active {
	background-color: #3388cc /*{d-active-background-color}*/;
	border-color: #1c4a70 /*{d-active-border}*/;
	color: #ffffff /*{d-active-color}*/;
	text-shadow: 0 /*{d-active-shadow-x}*/ 1px /*{d-active-shadow-y}*/ 0 /*{d-active-shadow-radius}*/ #005599 /*{d-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-d .ui-radio-on:after,
html .ui-bar-d .ui-radio-on:after,
html .ui-body-d .ui-radio-on:after,
html body .ui-group-theme-d .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-d:after {
	border-color: #3388cc /*{d-active-background-color}*/;
}
/* Focus */
.ui-page-theme-d .ui-btn:focus,
html .ui-bar-d .ui-btn:focus,
html .ui-body-d .ui-btn:focus,
html body .ui-group-theme-d .ui-btn:focus,
html head + body .ui-btn.ui-btn-d:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-d .ui-focus,
html .ui-bar-d .ui-focus,
html .ui-body-d .ui-focus,
html body .ui-group-theme-d .ui-focus,
html head + body .ui-btn-d.ui-focus,
html head + body .ui-body-d.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
}


/* E
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-e,
.ui-page-theme-e .ui-bar-inherit,
html .ui-bar-e .ui-bar-inherit,
html .ui-body-e .ui-bar-inherit,
html body .ui-group-theme-e .ui-bar-inherit {
	background-color: #fadb4e /*{e-bar-background-color}*/;
	border-color: #F7C942 /*{e-bar-border}*/;
	color: #333333 /*{e-bar-color}*/;
	text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ #fff /*{e-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-e {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-e,
.ui-page-theme-e,
.ui-page-theme-e .ui-panel-wrapper {
	background-color: #fff9df /*{e-page-background-color}*/;
	border-color: #F7C942 /*{e-page-border}*/;
	color: #333333 /*{e-page-color}*/;
	text-shadow: 0 /*{e-page-shadow-x}*/ 1px /*{e-page-shadow-y}*/ 0 /*{e-page-shadow-radius}*/ #fff /*{e-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-e,
.ui-page-theme-e .ui-body-inherit,
html .ui-bar-e .ui-body-inherit,
html .ui-body-e .ui-body-inherit,
html body .ui-group-theme-e .ui-body-inherit,
html .ui-panel-page-container-e {
	background-color: #fff9df /*{e-body-background-color}*/;
	border-color: #F7C942 /*{e-body-border}*/;
	color: #333333 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ #fff /*{e-body-shadow-color}*/;
}
.ui-body-e {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-e a,
html .ui-bar-e a,
html .ui-body-e a,
html body .ui-group-theme-e a {
	color: #3388cc /*{e-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-e a:visited,
html .ui-bar-e a:visited,
html .ui-body-e a:visited,
html body .ui-group-theme-e a:visited {
    color: #3388cc /*{e-link-visited}*/;
}
.ui-page-theme-e a:hover,
html .ui-bar-e a:hover,
html .ui-body-e a:hover,
html body .ui-group-theme-e a:hover {
	color: #005599 /*{e-link-hover}*/;
}
.ui-page-theme-e a:active,
html .ui-bar-e a:active,
html .ui-body-e a:active,
html body .ui-group-theme-e a:active {
	color: #005599 /*{e-link-active}*/;
}
/* Button up */
.ui-page-theme-e .ui-btn,
html .ui-bar-e .ui-btn,
html .ui-body-e .ui-btn,
html body .ui-group-theme-e .ui-btn,
html head + body .ui-btn.ui-btn-e,
/* Button visited */
.ui-page-theme-e .ui-btn:visited,
html .ui-bar-e .ui-btn:visited,
html .ui-body-e .ui-btn:visited,
html body .ui-group-theme-e .ui-btn:visited,
html head + body .ui-btn.ui-btn-e:visited {
	background-color: #fadb4e /*{e-bup-background-color}*/;
	border-color: #F4C63f /*{e-bup-border}*/;
	color: #222 /*{e-bup-color}*/;
	text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ #fff /*{e-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-e .ui-btn:hover,
html .ui-bar-e .ui-btn:hover,
html .ui-body-e .ui-btn:hover,
html body .ui-group-theme-e .ui-btn:hover,
html head + body .ui-btn.ui-btn-e:hover {
	background-color: #fbe26f /*{e-bhover-background-color}*/;
	border-color: #F2C43d /*{e-bhover-border}*/;
	color: #333 /*{e-bhover-color}*/;
	text-shadow: 0 /*{e-bhover-shadow-x}*/ 1px /*{e-bhover-shadow-y}*/ 0 /*{e-bhover-shadow-radius}*/ #fff /*{e-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-e .ui-btn:active,
html .ui-bar-e .ui-btn:active,
html .ui-body-e .ui-btn:active,
html body .ui-group-theme-e .ui-btn:active,
html head + body .ui-btn.ui-btn-e:active {
	background-color: #fceda7 /*{e-bdown-background-color}*/;
	border-color: #F2C43d /*{e-bdown-border}*/;
	color: #333 /*{e-bdown-color}*/;
	text-shadow: 0 /*{e-bdown-shadow-x}*/ 1px /*{e-bdown-shadow-y}*/ 0 /*{e-bdown-shadow-radius}*/ #ffffff /*{e-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-e .ui-btn.ui-btn-active,
html .ui-bar-e .ui-btn.ui-btn-active,
html .ui-body-e .ui-btn.ui-btn-active,
html body .ui-group-theme-e .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-e.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-e .ui-checkbox-on:after,
html .ui-bar-e .ui-checkbox-on:after,
html .ui-body-e .ui-checkbox-on:after,
html body .ui-group-theme-e .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-e:after,
/* Active flipswitch background */
.ui-page-theme-e .ui-flipswitch-active,
html .ui-bar-e .ui-flipswitch-active,
html .ui-body-e .ui-flipswitch-active,
html body .ui-group-theme-e .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-e.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-e .ui-slider-track .ui-btn-active,
html .ui-bar-e .ui-slider-track .ui-btn-active,
html .ui-body-e .ui-slider-track .ui-btn-active,
html body .ui-group-theme-e .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-e .ui-btn-active {
	background-color: #3388cc /*{e-active-background-color}*/;
	border-color: #1c4a70 /*{e-active-border}*/;
	color: #ffffff /*{e-active-color}*/;
	text-shadow: 0 /*{e-active-shadow-x}*/ 1px /*{e-active-shadow-y}*/ 0 /*{e-active-shadow-radius}*/ #005599 /*{e-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-e .ui-radio-on:after,
html .ui-bar-e .ui-radio-on:after,
html .ui-body-e .ui-radio-on:after,
html body .ui-group-theme-e .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-e:after {
	border-color: #3388cc /*{e-active-background-color}*/;
}
/* Focus */
.ui-page-theme-e .ui-btn:focus,
html .ui-bar-e .ui-btn:focus,
html .ui-body-e .ui-btn:focus,
html body .ui-group-theme-e .ui-btn:focus,
html head + body .ui-btn.ui-btn-e:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-e .ui-focus,
html .ui-bar-e .ui-focus,
html .ui-body-e .ui-focus,
html body .ui-group-theme-e .ui-focus,
html head + body .ui-btn-e.ui-focus,
html head + body .ui-body-e.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{e-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{e-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{e-active-background-color}*/;
}


/* F
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-f,
.ui-page-theme-f .ui-bar-inherit,
html .ui-bar-f .ui-bar-inherit,
html .ui-body-f .ui-bar-inherit,
html body .ui-group-theme-f .ui-bar-inherit {
	background-color: #eeeeee /*{f-bar-background-color}*/;
	border-color: #e09800 /*{f-bar-border}*/;
	color: #fff /*{f-bar-color}*/;
	text-shadow: 0 /*{f-bar-shadow-x}*/ 1px /*{f-bar-shadow-y}*/ 1px /*{f-bar-shadow-radius}*/ #663a00 /*{f-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-f {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-f,
.ui-page-theme-f,
.ui-page-theme-f .ui-panel-wrapper {
	background-color: #ffe01c: /*{f-page-background-color}*/;
	border-color: #aaa /*{f-page-border}*/;
	color: #333333 /*{f-page-color}*/;
	text-shadow: 0 /*{f-page-shadow-x}*/ 1px /*{f-page-shadow-y}*/ 0 /*{f-page-shadow-radius}*/ #fff /*{f-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-f,
.ui-page-theme-f .ui-body-inherit,
html .ui-bar-f .ui-body-inherit,
html .ui-body-f .ui-body-inherit,
html body .ui-group-theme-f .ui-body-inherit,
html .ui-panel-page-container-f {
	background-color: #ffe01c: /*{f-body-background-color}*/;
	border-color: #aaa /*{f-body-border}*/;
	color: #333333 /*{f-body-color}*/;
	text-shadow: 0 /*{f-body-shadow-x}*/ 1px /*{f-body-shadow-y}*/ 0 /*{f-body-shadow-radius}*/ #fff /*{f-body-shadow-color}*/;
}
.ui-body-f {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-f a,
html .ui-bar-f a,
html .ui-body-f a,
html body .ui-group-theme-f a {
	color: #3388cc /*{f-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-f a:visited,
html .ui-bar-f a:visited,
html .ui-body-f a:visited,
html body .ui-group-theme-f a:visited {
    color: #3388cc /*{f-link-visited}*/;
}
.ui-page-theme-f a:hover,
html .ui-bar-f a:hover,
html .ui-body-f a:hover,
html body .ui-group-theme-f a:hover {
	color: #005599 /*{f-link-hover}*/;
}
.ui-page-theme-f a:active,
html .ui-bar-f a:active,
html .ui-body-f a:active,
html body .ui-group-theme-f a:active {
	color: #005599 /*{f-link-active}*/;
}
/* Button up */
.ui-page-theme-f .ui-btn,
html .ui-bar-f .ui-btn,
html .ui-body-f .ui-btn,
html body .ui-group-theme-f .ui-btn,
html head + body .ui-btn.ui-btn-f,
/* Button visited */
.ui-page-theme-f .ui-btn:visited,
html .ui-bar-f .ui-btn:visited,
html .ui-body-f .ui-btn:visited,
html body .ui-group-theme-f .ui-btn:visited,
html head + body .ui-btn.ui-btn-f:visited {
	background-color: #eee /*{f-bup-background-color}*/;
	border-color: #e09800 /*{f-bup-border}*/;
	color: #ffffff /*{f-bup-color}*/;
	text-shadow: 0 /*{f-bup-shadow-x}*/ 1px /*{f-bup-shadow-y}*/ 1px /*{f-bup-shadow-radius}*/ #663a00 /*{f-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-f .ui-btn:hover,
html .ui-bar-f .ui-btn:hover,
html .ui-body-f .ui-btn:hover,
html body .ui-group-theme-f .ui-btn:hover,
html head + body .ui-btn.ui-btn-f:hover {
	background-color: #dfdfdf /*{f-bhover-background-color}*/;
	border-color: #e09800 /*{f-bhover-border}*/;
	color: #ffffff /*{f-bhover-color}*/;
	text-shadow: 0 /*{f-bhover-shadow-x}*/ 1px /*{f-bhover-shadow-y}*/ 1px /*{f-bhover-shadow-radius}*/ #663a00 /*{f-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-f .ui-btn:active,
html .ui-bar-f .ui-btn:active,
html .ui-body-f .ui-btn:active,
html body .ui-group-theme-f .ui-btn:active,
html head + body .ui-btn.ui-btn-f:active {
	background-color: #d6d6d6 /*{f-bdown-background-color}*/;
	border-color: #e09800 /*{f-bdown-border}*/;
	color: #ffffff /*{f-bdown-color}*/;
	text-shadow: 0 /*{f-bdown-shadow-x}*/ 1px /*{f-bdown-shadow-y}*/ 1px /*{f-bdown-shadow-radius}*/ #663a00 /*{f-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-f .ui-btn.ui-btn-active,
html .ui-bar-f .ui-btn.ui-btn-active,
html .ui-body-f .ui-btn.ui-btn-active,
html body .ui-group-theme-f .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-f.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-f .ui-checkbox-on:after,
html .ui-bar-f .ui-checkbox-on:after,
html .ui-body-f .ui-checkbox-on:after,
html body .ui-group-theme-f .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-f:after,
/* Active flipswitch background */
.ui-page-theme-f .ui-flipswitch-active,
html .ui-bar-f .ui-flipswitch-active,
html .ui-body-f .ui-flipswitch-active,
html body .ui-group-theme-f .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-f.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-f .ui-slider-track .ui-btn-active,
html .ui-bar-f .ui-slider-track .ui-btn-active,
html .ui-body-f .ui-slider-track .ui-btn-active,
html body .ui-group-theme-f .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-f .ui-btn-active {
	background-color: #3388cc /*{f-active-background-color}*/;
	border-color: #1c4a70 /*{f-active-border}*/;
	color: #ffffff /*{f-active-color}*/;
	text-shadow: 0 /*{f-active-shadow-x}*/ 1px /*{f-active-shadow-y}*/ 0 /*{f-active-shadow-radius}*/ #005599 /*{f-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-f .ui-radio-on:after,
html .ui-bar-f .ui-radio-on:after,
html .ui-body-f .ui-radio-on:after,
html body .ui-group-theme-f .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-f:after {
	border-color: #3388cc /*{f-active-background-color}*/;
}
/* Focus */
.ui-page-theme-f .ui-btn:focus,
html .ui-bar-f .ui-btn:focus,
html .ui-body-f .ui-btn:focus,
html body .ui-group-theme-f .ui-btn:focus,
html head + body .ui-btn.ui-btn-f:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-f .ui-focus,
html .ui-bar-f .ui-focus,
html .ui-body-f .ui-focus,
html body .ui-group-theme-f .ui-focus,
html head + body .ui-btn-f.ui-focus,
html head + body .ui-body-f.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{f-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{f-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{f-active-background-color}*/;
}


/* G
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-g,
.ui-page-theme-g .ui-bar-inherit,
html .ui-bar-g .ui-bar-inherit,
html .ui-body-g .ui-bar-inherit,
html body .ui-group-theme-g .ui-bar-inherit {
	background-color: #7ac142 /*{g-bar-background-color}*/;
	border-color: #436a24 /*{g-bar-border}*/;
	color: #333333 /*{g-bar-color}*/;
	text-shadow: 0 /*{g-bar-shadow-x}*/ 1px /*{g-bar-shadow-y}*/ 0 /*{g-bar-shadow-radius}*/ #fff /*{g-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-g {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-g,
.ui-page-theme-g,
.ui-page-theme-g .ui-panel-wrapper {
	background-color: #e9fdd9 /*{g-page-background-color}*/;
	border-color: #7ac142 /*{g-page-border}*/;
	color: #333333 /*{g-page-color}*/;
	text-shadow: 0 /*{g-page-shadow-x}*/ 1px /*{g-page-shadow-y}*/ 0 /*{g-page-shadow-radius}*/ #fff /*{g-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-g,
.ui-page-theme-g .ui-body-inherit,
html .ui-bar-g .ui-body-inherit,
html .ui-body-g .ui-body-inherit,
html body .ui-group-theme-g .ui-body-inherit,
html .ui-panel-page-container-g {
	background-color: #e9fdd9 /*{g-body-background-color}*/;
	border-color: #7ac142 /*{g-body-border}*/;
	color: #333333 /*{g-body-color}*/;
	text-shadow: 0 /*{g-body-shadow-x}*/ 1px /*{g-body-shadow-y}*/ 0 /*{g-body-shadow-radius}*/ #fff /*{g-body-shadow-color}*/;
}
.ui-body-g {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-g a,
html .ui-bar-g a,
html .ui-body-g a,
html body .ui-group-theme-g a {
	color: #3388cc /*{g-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-g a:visited,
html .ui-bar-g a:visited,
html .ui-body-g a:visited,
html body .ui-group-theme-g a:visited {
    color: #3388cc /*{g-link-visited}*/;
}
.ui-page-theme-g a:hover,
html .ui-bar-g a:hover,
html .ui-body-g a:hover,
html body .ui-group-theme-g a:hover {
	color: #005599 /*{g-link-hover}*/;
}
.ui-page-theme-g a:active,
html .ui-bar-g a:active,
html .ui-body-g a:active,
html body .ui-group-theme-g a:active {
	color: #005599 /*{g-link-active}*/;
}
/* Button up */
.ui-page-theme-g .ui-btn,
html .ui-bar-g .ui-btn,
html .ui-body-g .ui-btn,
html body .ui-group-theme-g .ui-btn,
html head + body .ui-btn.ui-btn-g,
/* Button visited */
.ui-page-theme-g .ui-btn:visited,
html .ui-bar-g .ui-btn:visited,
html .ui-body-g .ui-btn:visited,
html body .ui-group-theme-g .ui-btn:visited,
html head + body .ui-btn.ui-btn-g:visited {
	background-color: #7ac142 /*{g-bup-background-color}*/;
	border-color: #6cad39 /*{g-bup-border}*/;
	color: #222 /*{g-bup-color}*/;
	text-shadow: 0 /*{g-bup-shadow-x}*/ 1px /*{g-bup-shadow-y}*/ 0 /*{g-bup-shadow-radius}*/ #fff /*{g-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-g .ui-btn:hover,
html .ui-bar-g .ui-btn:hover,
html .ui-body-g .ui-btn:hover,
html body .ui-group-theme-g .ui-btn:hover,
html head + body .ui-btn.ui-btn-g:hover {
	background-color: #7ac142 /*{g-bhover-background-color}*/;
	border-color: #629f32 /*{g-bhover-border}*/;
	color: #333 /*{g-bhover-color}*/;
	text-shadow: 0 /*{g-bhover-shadow-x}*/ 1px /*{g-bhover-shadow-y}*/ 0 /*{g-bhover-shadow-radius}*/ #fff /*{g-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-g .ui-btn:active,
html .ui-bar-g .ui-btn:active,
html .ui-body-g .ui-btn:active,
html body .ui-group-theme-g .ui-btn:active,
html head + body .ui-btn.ui-btn-g:active {
	background-color: #fceda7 /*{g-bdown-background-color}*/;
	border-color: #629f32 /*{g-bdown-border}*/;
	color: #333 /*{g-bdown-color}*/;
	text-shadow: 0 /*{g-bdown-shadow-x}*/ 1px /*{g-bdown-shadow-y}*/ 0 /*{g-bdown-shadow-radius}*/ #ffffff /*{g-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-g .ui-btn.ui-btn-active,
html .ui-bar-g .ui-btn.ui-btn-active,
html .ui-body-g .ui-btn.ui-btn-active,
html body .ui-group-theme-g .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-g.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-g .ui-checkbox-on:after,
html .ui-bar-g .ui-checkbox-on:after,
html .ui-body-g .ui-checkbox-on:after,
html body .ui-group-theme-g .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-g:after,
/* Active flipswitch background */
.ui-page-theme-g .ui-flipswitch-active,
html .ui-bar-g .ui-flipswitch-active,
html .ui-body-g .ui-flipswitch-active,
html body .ui-group-theme-g .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-g.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-g .ui-slider-track .ui-btn-active,
html .ui-bar-g .ui-slider-track .ui-btn-active,
html .ui-body-g .ui-slider-track .ui-btn-active,
html body .ui-group-theme-g .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-g .ui-btn-active {
	background-color: #3388cc /*{g-active-background-color}*/;
	border-color: #1c4a70 /*{g-active-border}*/;
	color: #ffffff /*{g-active-color}*/;
	text-shadow: 0 /*{g-active-shadow-x}*/ 1px /*{g-active-shadow-y}*/ 0 /*{g-active-shadow-radius}*/ #005599 /*{g-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-g .ui-radio-on:after,
html .ui-bar-g .ui-radio-on:after,
html .ui-body-g .ui-radio-on:after,
html body .ui-group-theme-g .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-g:after {
	border-color: #3388cc /*{g-active-background-color}*/;
}
/* Focus */
.ui-page-theme-g .ui-btn:focus,
html .ui-bar-g .ui-btn:focus,
html .ui-body-g .ui-btn:focus,
html body .ui-group-theme-g .ui-btn:focus,
html head + body .ui-btn.ui-btn-g:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-g .ui-focus,
html .ui-bar-g .ui-focus,
html .ui-body-g .ui-focus,
html body .ui-group-theme-g .ui-focus,
html head + body .ui-btn-g.ui-focus,
html head + body .ui-body-g.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{g-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{g-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{g-active-background-color}*/;
}


/* H
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-h,
.ui-page-theme-h .ui-bar-inherit,
html .ui-bar-h .ui-bar-inherit,
html .ui-body-h .ui-bar-inherit,
html body .ui-group-theme-h .ui-bar-inherit {
	background-color: #990000 /*{h-bar-background-color}*/;
	border-color: #660000 /*{h-bar-border}*/;
	color: #fff /*{h-bar-color}*/;
	text-shadow: 0 /*{h-bar-shadow-x}*/ 1px /*{h-bar-shadow-y}*/ 1px /*{h-bar-shadow-radius}*/ #660000 /*{h-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-h {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-h,
.ui-page-theme-h,
.ui-page-theme-h .ui-panel-wrapper {
	background-color: #f3f3f3 /*{h-page-background-color}*/;
	border-color: #999 /*{h-page-border}*/;
	color: #333333 /*{h-page-color}*/;
	text-shadow: 0 /*{h-page-shadow-x}*/ 1px /*{h-page-shadow-y}*/ 0 /*{h-page-shadow-radius}*/ #fff /*{h-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-h,
.ui-page-theme-h .ui-body-inherit,
html .ui-bar-h .ui-body-inherit,
html .ui-body-h .ui-body-inherit,
html body .ui-group-theme-h .ui-body-inherit,
html .ui-panel-page-container-h {
	background-color: #f3f3f3 /*{h-body-background-color}*/;
	border-color: #999 /*{h-body-border}*/;
	color: #333333 /*{h-body-color}*/;
	text-shadow: 0 /*{h-body-shadow-x}*/ 1px /*{h-body-shadow-y}*/ 0 /*{h-body-shadow-radius}*/ #fff /*{h-body-shadow-color}*/;
}
.ui-body-h {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-h a,
html .ui-bar-h a,
html .ui-body-h a,
html body .ui-group-theme-h a {
	color: #3388cc /*{h-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-h a:visited,
html .ui-bar-h a:visited,
html .ui-body-h a:visited,
html body .ui-group-theme-h a:visited {
    color: #3388cc /*{h-link-visited}*/;
}
.ui-page-theme-h a:hover,
html .ui-bar-h a:hover,
html .ui-body-h a:hover,
html body .ui-group-theme-h a:hover {
	color: #005599 /*{h-link-hover}*/;
}
.ui-page-theme-h a:active,
html .ui-bar-h a:active,
html .ui-body-h a:active,
html body .ui-group-theme-h a:active {
	color: #005599 /*{h-link-active}*/;
}
/* Button up */
.ui-page-theme-h .ui-btn,
html .ui-bar-h .ui-btn,
html .ui-body-h .ui-btn,
html body .ui-group-theme-h .ui-btn,
html head + body .ui-btn.ui-btn-h,
/* Button visited */
.ui-page-theme-h .ui-btn:visited,
html .ui-bar-h .ui-btn:visited,
html .ui-body-h .ui-btn:visited,
html body .ui-group-theme-h .ui-btn:visited,
html head + body .ui-btn.ui-btn-h:visited {
	background-color: #770000 /*{h-bup-background-color}*/;
	border-color: #660000 /*{h-bup-border}*/;
	color: #fff /*{h-bup-color}*/;
	text-shadow: 0 /*{h-bup-shadow-x}*/ 1px /*{h-bup-shadow-y}*/ 1px /*{h-bup-shadow-radius}*/ #660000 /*{h-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-h .ui-btn:hover,
html .ui-bar-h .ui-btn:hover,
html .ui-body-h .ui-btn:hover,
html body .ui-group-theme-h .ui-btn:hover,
html head + body .ui-btn.ui-btn-h:hover {
	background-color: #cc0000 /*{h-bhover-background-color}*/;
	border-color: #660000 /*{h-bhover-border}*/;
	color: #fff /*{h-bhover-color}*/;
	text-shadow: 0 /*{h-bhover-shadow-x}*/ 1px /*{h-bhover-shadow-y}*/ 1px /*{h-bhover-shadow-radius}*/ #660000 /*{h-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-h .ui-btn:active,
html .ui-bar-h .ui-btn:active,
html .ui-body-h .ui-btn:active,
html body .ui-group-theme-h .ui-btn:active,
html head + body .ui-btn.ui-btn-h:active {
	background-color: #770000 /*{h-bdown-background-color}*/;
	border-color: #660000 /*{h-bdown-border}*/;
	color: #fff /*{h-bdown-color}*/;
	text-shadow: 0 /*{h-bdown-shadow-x}*/ 1px /*{h-bdown-shadow-y}*/ 1px /*{h-bdown-shadow-radius}*/ #660000 /*{h-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-h .ui-btn.ui-btn-active,
html .ui-bar-h .ui-btn.ui-btn-active,
html .ui-body-h .ui-btn.ui-btn-active,
html body .ui-group-theme-h .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-h.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-h .ui-checkbox-on:after,
html .ui-bar-h .ui-checkbox-on:after,
html .ui-body-h .ui-checkbox-on:after,
html body .ui-group-theme-h .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-h:after,
/* Active flipswitch background */
.ui-page-theme-h .ui-flipswitch-active,
html .ui-bar-h .ui-flipswitch-active,
html .ui-body-h .ui-flipswitch-active,
html body .ui-group-theme-h .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-h.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-h .ui-slider-track .ui-btn-active,
html .ui-bar-h .ui-slider-track .ui-btn-active,
html .ui-body-h .ui-slider-track .ui-btn-active,
html body .ui-group-theme-h .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-h .ui-btn-active {
	background-color: #3388cc /*{h-active-background-color}*/;
	border-color: #1c4a70 /*{h-active-border}*/;
	color: #ffffff /*{h-active-color}*/;
	text-shadow: 0 /*{h-active-shadow-x}*/ 1px /*{h-active-shadow-y}*/ 0 /*{h-active-shadow-radius}*/ #005599 /*{h-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-h .ui-radio-on:after,
html .ui-bar-h .ui-radio-on:after,
html .ui-body-h .ui-radio-on:after,
html body .ui-group-theme-h .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-h:after {
	border-color: #3388cc /*{h-active-background-color}*/;
}
/* Focus */
.ui-page-theme-h .ui-btn:focus,
html .ui-bar-h .ui-btn:focus,
html .ui-body-h .ui-btn:focus,
html body .ui-group-theme-h .ui-btn:focus,
html head + body .ui-btn.ui-btn-h:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-h .ui-focus,
html .ui-bar-h .ui-focus,
html .ui-body-h .ui-focus,
html body .ui-group-theme-h .ui-focus,
html head + body .ui-btn-h.ui-focus,
html head + body .ui-body-h.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{h-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{h-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{h-active-background-color}*/;
}


/* I
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-i,
.ui-page-theme-i .ui-bar-inherit,
html .ui-bar-i .ui-bar-inherit,
html .ui-body-i .ui-bar-inherit,
html body .ui-group-theme-i .ui-bar-inherit {
	background-color: #275204 /*{i-bar-background-color}*/;
	border-color: #006b0d /*{i-bar-border}*/;
	color: #fff /*{i-bar-color}*/;
	text-shadow: 0 /*{i-bar-shadow-x}*/ 1px /*{i-bar-shadow-y}*/ 0 /*{i-bar-shadow-radius}*/ #004d09 /*{i-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-i {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-i,
.ui-page-theme-i,
.ui-page-theme-i .ui-panel-wrapper {
	background-color: #f3f3f3 /*{i-page-background-color}*/;
	border-color: #999 /*{i-page-border}*/;
	color: #333333 /*{i-page-color}*/;
	text-shadow: 0 /*{i-page-shadow-x}*/ 1px /*{i-page-shadow-y}*/ 0 /*{i-page-shadow-radius}*/ #fff /*{i-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-i,
.ui-page-theme-i .ui-body-inherit,
html .ui-bar-i .ui-body-inherit,
html .ui-body-i .ui-body-inherit,
html body .ui-group-theme-i .ui-body-inherit,
html .ui-panel-page-container-i {
	background-color: #f3f3f3 /*{i-body-background-color}*/;
	border-color: #999 /*{i-body-border}*/;
	color: #333333 /*{i-body-color}*/;
	text-shadow: 0 /*{i-body-shadow-x}*/ 1px /*{i-body-shadow-y}*/ 0 /*{i-body-shadow-radius}*/ #fff /*{i-body-shadow-color}*/;
}
.ui-body-i {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-i a,
html .ui-bar-i a,
html .ui-body-i a,
html body .ui-group-theme-i a {
	color: #3388cc /*{i-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-i a:visited,
html .ui-bar-i a:visited,
html .ui-body-i a:visited,
html body .ui-group-theme-i a:visited {
    color: #3388cc /*{i-link-visited}*/;
}
.ui-page-theme-i a:hover,
html .ui-bar-i a:hover,
html .ui-body-i a:hover,
html body .ui-group-theme-i a:hover {
	color: #005599 /*{i-link-hover}*/;
}
.ui-page-theme-i a:active,
html .ui-bar-i a:active,
html .ui-body-i a:active,
html body .ui-group-theme-i a:active {
	color: #005599 /*{i-link-active}*/;
}
/* Button up */
.ui-page-theme-i .ui-btn,
html .ui-bar-i .ui-btn,
html .ui-body-i .ui-btn,
html body .ui-group-theme-i .ui-btn,
html head + body .ui-btn.ui-btn-i,
/* Button visited */
.ui-page-theme-i .ui-btn:visited,
html .ui-bar-i .ui-btn:visited,
html .ui-body-i .ui-btn:visited,
html body .ui-group-theme-i .ui-btn:visited,
html head + body .ui-btn.ui-btn-i:visited {
	background-color: #7ac142 /*{i-bup-background-color}*/;
	border-color: #006b0d /*{i-bup-border}*/;
	color: #fff /*{i-bup-color}*/;
	text-shadow: 0 /*{i-bup-shadow-x}*/ 1px /*{i-bup-shadow-y}*/ 0 /*{i-bup-shadow-radius}*/ #004d09 /*{i-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-i .ui-btn:hover,
html .ui-bar-i .ui-btn:hover,
html .ui-body-i .ui-btn:hover,
html body .ui-group-theme-i .ui-btn:hover,
html head + body .ui-btn.ui-btn-i:hover {
	background-color: #7ac142 /*{i-bhover-background-color}*/;
	border-color: #006b0d /*{i-bhover-border}*/;
	color: #fff /*{i-bhover-color}*/;
	text-shadow: 0 /*{i-bhover-shadow-x}*/ 1px /*{i-bhover-shadow-y}*/ 0 /*{i-bhover-shadow-radius}*/ #004d09 /*{i-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-i .ui-btn:active,
html .ui-bar-i .ui-btn:active,
html .ui-body-i .ui-btn:active,
html body .ui-group-theme-i .ui-btn:active,
html head + body .ui-btn.ui-btn-i:active {
	background-color: #3b8301 /*{i-bdown-background-color}*/;
	border-color: #006b0d /*{i-bdown-border}*/;
	color: #fff /*{i-bdown-color}*/;
	text-shadow: 0 /*{i-bdown-shadow-x}*/ 1px /*{i-bdown-shadow-y}*/ 0 /*{i-bdown-shadow-radius}*/ #004d09 /*{i-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-i .ui-btn.ui-btn-active,
html .ui-bar-i .ui-btn.ui-btn-active,
html .ui-body-i .ui-btn.ui-btn-active,
html body .ui-group-theme-i .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-i.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-i .ui-checkbox-on:after,
html .ui-bar-i .ui-checkbox-on:after,
html .ui-body-i .ui-checkbox-on:after,
html body .ui-group-theme-i .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-i:after,
/* Active flipswitch background */
.ui-page-theme-i .ui-flipswitch-active,
html .ui-bar-i .ui-flipswitch-active,
html .ui-body-i .ui-flipswitch-active,
html body .ui-group-theme-i .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-i.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-i .ui-slider-track .ui-btn-active,
html .ui-bar-i .ui-slider-track .ui-btn-active,
html .ui-body-i .ui-slider-track .ui-btn-active,
html body .ui-group-theme-i .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-i .ui-btn-active {
	background-color: #3388cc /*{i-active-background-color}*/;
	border-color: #1c4a70 /*{i-active-border}*/;
	color: #ffffff /*{i-active-color}*/;
	text-shadow: 0 /*{i-active-shadow-x}*/ 1px /*{i-active-shadow-y}*/ 0 /*{i-active-shadow-radius}*/ #005599 /*{i-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-i .ui-radio-on:after,
html .ui-bar-i .ui-radio-on:after,
html .ui-body-i .ui-radio-on:after,
html body .ui-group-theme-i .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-i:after {
	border-color: #3388cc /*{i-active-background-color}*/;
}
/* Focus */
.ui-page-theme-i .ui-btn:focus,
html .ui-bar-i .ui-btn:focus,
html .ui-body-i .ui-btn:focus,
html body .ui-group-theme-i .ui-btn:focus,
html head + body .ui-btn.ui-btn-i:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-i .ui-focus,
html .ui-bar-i .ui-focus,
html .ui-body-i .ui-focus,
html body .ui-group-theme-i .ui-focus,
html head + body .ui-btn-i.ui-focus,
html head + body .ui-body-i.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{i-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{i-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{i-active-background-color}*/;
}


/* J
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-j,
.ui-page-theme-j .ui-bar-inherit,
html .ui-bar-j .ui-bar-inherit,
html .ui-body-j .ui-bar-inherit,
html body .ui-group-theme-j .ui-bar-inherit {
	background-color: #f7931e /*{j-bar-background-color}*/;
	border-color: #875010 /*{j-bar-border}*/;
	color: #ffffff /*{j-bar-color}*/;
	text-shadow: 0 /*{j-bar-shadow-x}*/ -1px /*{j-bar-shadow-y}*/ 1px /*{j-bar-shadow-radius}*/ #444444 /*{j-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-j {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-j,
.ui-page-theme-j,
.ui-page-theme-j .ui-panel-wrapper {
	background-color: #ffa429 /*{j-page-background-color}*/;
	border-color: #c26f00 /*{j-page-border}*/;
	color: #000000 /*{j-page-color}*/;
	text-shadow: 0 /*{j-page-shadow-x}*/ 1px /*{j-page-shadow-y}*/ 1px /*{j-page-shadow-radius}*/ #eeeeee /*{j-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-j,
.ui-page-theme-j .ui-body-inherit,
html .ui-bar-j .ui-body-inherit,
html .ui-body-j .ui-body-inherit,
html body .ui-group-theme-j .ui-body-inherit,
html .ui-panel-page-container-j {
	background-color: #ffa429 /*{j-body-background-color}*/;
	border-color: #c26f00 /*{j-body-border}*/;
	color: #000000 /*{j-body-color}*/;
	text-shadow: 0 /*{j-body-shadow-x}*/ 1px /*{j-body-shadow-y}*/ 1px /*{j-body-shadow-radius}*/ #eeeeee /*{j-body-shadow-color}*/;
}
.ui-body-j {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-j a,
html .ui-bar-j a,
html .ui-body-j a,
html body .ui-group-theme-j a {
	color: #3388cc /*{j-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-j a:visited,
html .ui-bar-j a:visited,
html .ui-body-j a:visited,
html body .ui-group-theme-j a:visited {
    color: #3388cc /*{j-link-visited}*/;
}
.ui-page-theme-j a:hover,
html .ui-bar-j a:hover,
html .ui-body-j a:hover,
html body .ui-group-theme-j a:hover {
	color: #005599 /*{j-link-hover}*/;
}
.ui-page-theme-j a:active,
html .ui-bar-j a:active,
html .ui-body-j a:active,
html body .ui-group-theme-j a:active {
	color: #005599 /*{j-link-active}*/;
}
/* Button up */
.ui-page-theme-j .ui-btn,
html .ui-bar-j .ui-btn,
html .ui-body-j .ui-btn,
html body .ui-group-theme-j .ui-btn,
html head + body .ui-btn.ui-btn-j,
/* Button visited */
.ui-page-theme-j .ui-btn:visited,
html .ui-bar-j .ui-btn:visited,
html .ui-body-j .ui-btn:visited,
html body .ui-group-theme-j .ui-btn:visited,
html head + body .ui-btn.ui-btn-j:visited {
	background-color: #f7931e /*{j-bup-background-color}*/;
	border-color: #875010 /*{j-bup-border}*/;
	color: #ffffff /*{j-bup-color}*/;
	text-shadow: 0 /*{j-bup-shadow-x}*/ 1px /*{j-bup-shadow-y}*/ 1px /*{j-bup-shadow-radius}*/ #444444 /*{j-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-j .ui-btn:hover,
html .ui-bar-j .ui-btn:hover,
html .ui-body-j .ui-btn:hover,
html body .ui-group-theme-j .ui-btn:hover,
html head + body .ui-btn.ui-btn-j:hover {
	background-color: #FFa922 /*{j-bhover-background-color}*/;
	border-color: #8c5c12 /*{j-bhover-border}*/;
	color: #ffffff /*{j-bhover-color}*/;
	text-shadow: 0 /*{j-bhover-shadow-x}*/ 1px /*{j-bhover-shadow-y}*/ 1px /*{j-bhover-shadow-radius}*/ #444444 /*{j-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-j .ui-btn:active,
html .ui-bar-j .ui-btn:active,
html .ui-body-j .ui-btn:active,
html body .ui-group-theme-j .ui-btn:active,
html head + body .ui-btn.ui-btn-j:active {
	background-color: #FFa922 /*{j-bdown-background-color}*/;
	border-color: #8c5c12 /*{j-bdown-border}*/;
	color: #000000 /*{j-bdown-color}*/;
	text-shadow: 0 /*{j-bdown-shadow-x}*/ 1px /*{j-bdown-shadow-y}*/ 1px /*{j-bdown-shadow-radius}*/ #eeeeee /*{j-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-j .ui-btn.ui-btn-active,
html .ui-bar-j .ui-btn.ui-btn-active,
html .ui-body-j .ui-btn.ui-btn-active,
html body .ui-group-theme-j .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-j.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-j .ui-checkbox-on:after,
html .ui-bar-j .ui-checkbox-on:after,
html .ui-body-j .ui-checkbox-on:after,
html body .ui-group-theme-j .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-j:after,
/* Active flipswitch background */
.ui-page-theme-j .ui-flipswitch-active,
html .ui-bar-j .ui-flipswitch-active,
html .ui-body-j .ui-flipswitch-active,
html body .ui-group-theme-j .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-j.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-j .ui-slider-track .ui-btn-active,
html .ui-bar-j .ui-slider-track .ui-btn-active,
html .ui-body-j .ui-slider-track .ui-btn-active,
html body .ui-group-theme-j .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-j .ui-btn-active {
	background-color: #3388cc /*{j-active-background-color}*/;
	border-color: #1c4a70 /*{j-active-border}*/;
	color: #ffffff /*{j-active-color}*/;
	text-shadow: 0 /*{j-active-shadow-x}*/ 1px /*{j-active-shadow-y}*/ 0 /*{j-active-shadow-radius}*/ #005599 /*{j-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-j .ui-radio-on:after,
html .ui-bar-j .ui-radio-on:after,
html .ui-body-j .ui-radio-on:after,
html body .ui-group-theme-j .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-j:after {
	border-color: #3388cc /*{j-active-background-color}*/;
}
/* Focus */
.ui-page-theme-j .ui-btn:focus,
html .ui-bar-j .ui-btn:focus,
html .ui-body-j .ui-btn:focus,
html body .ui-group-theme-j .ui-btn:focus,
html head + body .ui-btn.ui-btn-j:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-j .ui-focus,
html .ui-bar-j .ui-focus,
html .ui-body-j .ui-focus,
html body .ui-group-theme-j .ui-focus,
html head + body .ui-btn-j.ui-focus,
html head + body .ui-body-j.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{j-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{j-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{j-active-background-color}*/;
}


/* K
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-k,
.ui-page-theme-k .ui-bar-inherit,
html .ui-bar-k .ui-bar-inherit,
html .ui-body-k .ui-bar-inherit,
html body .ui-group-theme-k .ui-bar-inherit {
	background-color: #5376b0 /*{k-bar-background-color}*/;
	border-color: #2d4060 /*{k-bar-border}*/;
	color: #ffffff /*{k-bar-color}*/;
	text-shadow: 0 /*{k-bar-shadow-x}*/ -1px /*{k-bar-shadow-y}*/ 1px /*{k-bar-shadow-radius}*/ #444444 /*{k-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-k {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-k,
.ui-page-theme-k,
.ui-page-theme-k .ui-panel-wrapper {
	background-color: #94a9d1 /*{k-page-background-color}*/;
	border-color: #798294 /*{k-page-border}*/;
	color: #000000 /*{k-page-color}*/;
	text-shadow: 0 /*{k-page-shadow-x}*/ 1px /*{k-page-shadow-y}*/ 1px /*{k-page-shadow-radius}*/ #eeeeee /*{k-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-k,
.ui-page-theme-k .ui-body-inherit,
html .ui-bar-k .ui-body-inherit,
html .ui-body-k .ui-body-inherit,
html body .ui-group-theme-k .ui-body-inherit,
html .ui-panel-page-container-k {
	background-color: #94a9d1 /*{k-body-background-color}*/;
	border-color: #798294 /*{k-body-border}*/;
	color: #000000 /*{k-body-color}*/;
	text-shadow: 0 /*{k-body-shadow-x}*/ 1px /*{k-body-shadow-y}*/ 1px /*{k-body-shadow-radius}*/ #eeeeee /*{k-body-shadow-color}*/;
}
.ui-body-k {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-k a,
html .ui-bar-k a,
html .ui-body-k a,
html body .ui-group-theme-k a {
	color: #3388cc /*{k-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-k a:visited,
html .ui-bar-k a:visited,
html .ui-body-k a:visited,
html body .ui-group-theme-k a:visited {
    color: #3388cc /*{k-link-visited}*/;
}
.ui-page-theme-k a:hover,
html .ui-bar-k a:hover,
html .ui-body-k a:hover,
html body .ui-group-theme-k a:hover {
	color: #005599 /*{k-link-hover}*/;
}
.ui-page-theme-k a:active,
html .ui-bar-k a:active,
html .ui-body-k a:active,
html body .ui-group-theme-k a:active {
	color: #005599 /*{k-link-active}*/;
}
/* Button up */
.ui-page-theme-k .ui-btn,
html .ui-bar-k .ui-btn,
html .ui-body-k .ui-btn,
html body .ui-group-theme-k .ui-btn,
html head + body .ui-btn.ui-btn-k,
/* Button visited */
.ui-page-theme-k .ui-btn:visited,
html .ui-bar-k .ui-btn:visited,
html .ui-body-k .ui-btn:visited,
html body .ui-group-theme-k .ui-btn:visited,
html head + body .ui-btn.ui-btn-k:visited {
	background-color: #5376b0 /*{k-bup-background-color}*/;
	border-color: #2d4060 /*{k-bup-border}*/;
	color: #ffffff /*{k-bup-color}*/;
	text-shadow: 0 /*{k-bup-shadow-x}*/ 1px /*{k-bup-shadow-y}*/ 1px /*{k-bup-shadow-radius}*/ #444444 /*{k-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-k .ui-btn:hover,
html .ui-bar-k .ui-btn:hover,
html .ui-body-k .ui-btn:hover,
html body .ui-group-theme-k .ui-btn:hover,
html head + body .ui-btn.ui-btn-k:hover {
	background-color: #5f87ca /*{k-bhover-background-color}*/;
	border-color: #344a6f /*{k-bhover-border}*/;
	color: #ffffff /*{k-bhover-color}*/;
	text-shadow: 0 /*{k-bhover-shadow-x}*/ 1px /*{k-bhover-shadow-y}*/ 1px /*{k-bhover-shadow-radius}*/ #444444 /*{k-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-k .ui-btn:active,
html .ui-bar-k .ui-btn:active,
html .ui-body-k .ui-btn:active,
html body .ui-group-theme-k .ui-btn:active,
html head + body .ui-btn.ui-btn-k:active {
	background-color: #5f87ca /*{k-bdown-background-color}*/;
	border-color: #344a6f /*{k-bdown-border}*/;
	color: #ffffff /*{k-bdown-color}*/;
	text-shadow: 0 /*{k-bdown-shadow-x}*/ 1px /*{k-bdown-shadow-y}*/ 1px /*{k-bdown-shadow-radius}*/ #444444 /*{k-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-k .ui-btn.ui-btn-active,
html .ui-bar-k .ui-btn.ui-btn-active,
html .ui-body-k .ui-btn.ui-btn-active,
html body .ui-group-theme-k .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-k.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-k .ui-checkbox-on:after,
html .ui-bar-k .ui-checkbox-on:after,
html .ui-body-k .ui-checkbox-on:after,
html body .ui-group-theme-k .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-k:after,
/* Active flipswitch background */
.ui-page-theme-k .ui-flipswitch-active,
html .ui-bar-k .ui-flipswitch-active,
html .ui-body-k .ui-flipswitch-active,
html body .ui-group-theme-k .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-k.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-k .ui-slider-track .ui-btn-active,
html .ui-bar-k .ui-slider-track .ui-btn-active,
html .ui-body-k .ui-slider-track .ui-btn-active,
html body .ui-group-theme-k .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-k .ui-btn-active {
	background-color: #3388cc /*{k-active-background-color}*/;
	border-color: #1c4a70 /*{k-active-border}*/;
	color: #ffffff /*{k-active-color}*/;
	text-shadow: 0 /*{k-active-shadow-x}*/ 1px /*{k-active-shadow-y}*/ 0 /*{k-active-shadow-radius}*/ #005599 /*{k-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-k .ui-radio-on:after,
html .ui-bar-k .ui-radio-on:after,
html .ui-body-k .ui-radio-on:after,
html body .ui-group-theme-k .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-k:after {
	border-color: #3388cc /*{k-active-background-color}*/;
}
/* Focus */
.ui-page-theme-k .ui-btn:focus,
html .ui-bar-k .ui-btn:focus,
html .ui-body-k .ui-btn:focus,
html body .ui-group-theme-k .ui-btn:focus,
html head + body .ui-btn.ui-btn-k:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-k .ui-focus,
html .ui-bar-k .ui-focus,
html .ui-body-k .ui-focus,
html body .ui-group-theme-k .ui-focus,
html head + body .ui-btn-k.ui-focus,
html head + body .ui-body-k.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{k-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{k-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{k-active-background-color}*/;
}


/* L
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-l,
.ui-page-theme-l .ui-bar-inherit,
html .ui-bar-l .ui-bar-inherit,
html .ui-body-l .ui-bar-inherit,
html body .ui-group-theme-l .ui-bar-inherit {
	background-color: #990000 /*{l-bar-background-color}*/;
	border-color: #660000 /*{l-bar-border}*/;
	color: #fff /*{l-bar-color}*/;
	text-shadow: 0 /*{l-bar-shadow-x}*/ 1px /*{l-bar-shadow-y}*/ 1px /*{l-bar-shadow-radius}*/ #660000 /*{l-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-l {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-l,
.ui-page-theme-l,
.ui-page-theme-l .ui-panel-wrapper {
	background-color: #ec1b2e /*{l-page-background-color}*/;
	border-color: #660000 /*{l-page-border}*/;
	color: #ffffff /*{l-page-color}*/;
	text-shadow: 0 /*{l-page-shadow-x}*/ 1px /*{l-page-shadow-y}*/ 0 /*{l-page-shadow-radius}*/ #660000 /*{l-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-l,
.ui-page-theme-l .ui-body-inherit,
html .ui-bar-l .ui-body-inherit,
html .ui-body-l .ui-body-inherit,
html body .ui-group-theme-l .ui-body-inherit,
html .ui-panel-page-container-l {
	background-color: #ec1b2e /*{l-body-background-color}*/;
	border-color: #660000 /*{l-body-border}*/;
	color: #ffffff /*{l-body-color}*/;
	text-shadow: 0 /*{l-body-shadow-x}*/ 1px /*{l-body-shadow-y}*/ 0 /*{l-body-shadow-radius}*/ #660000 /*{l-body-shadow-color}*/;
}
.ui-body-l {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-l a,
html .ui-bar-l a,
html .ui-body-l a,
html body .ui-group-theme-l a {
	color: #3388cc /*{l-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-l a:visited,
html .ui-bar-l a:visited,
html .ui-body-l a:visited,
html body .ui-group-theme-l a:visited {
    color: #3388cc /*{l-link-visited}*/;
}
.ui-page-theme-l a:hover,
html .ui-bar-l a:hover,
html .ui-body-l a:hover,
html body .ui-group-theme-l a:hover {
	color: #005599 /*{l-link-hover}*/;
}
.ui-page-theme-l a:active,
html .ui-bar-l a:active,
html .ui-body-l a:active,
html body .ui-group-theme-l a:active {
	color: #005599 /*{l-link-active}*/;
}
/* Button up */
.ui-page-theme-l .ui-btn,
html .ui-bar-l .ui-btn,
html .ui-body-l .ui-btn,
html body .ui-group-theme-l .ui-btn,
html head + body .ui-btn.ui-btn-l,
/* Button visited */
.ui-page-theme-l .ui-btn:visited,
html .ui-bar-l .ui-btn:visited,
html .ui-body-l .ui-btn:visited,
html body .ui-group-theme-l .ui-btn:visited,
html head + body .ui-btn.ui-btn-l:visited {
	background-color: #ffe01c /*{l-bup-background-color}*/;
	border-color: #854b00 /*{l-bup-border}*/;
	color: #333333 /*{l-bup-color}*/;
	text-shadow: 0 /*{l-bup-shadow-x}*/ 1px /*{l-bup-shadow-y}*/ 1px /*{l-bup-shadow-radius}*/ #ffffff /*{l-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-l .ui-btn:hover,
html .ui-bar-l .ui-btn:hover,
html .ui-body-l .ui-btn:hover,
html body .ui-group-theme-l .ui-btn:hover,
html head + body .ui-btn.ui-btn-l:hover {
	background-color: #ffb61c /*{l-bhover-background-color}*/;
	border-color: #854b00 /*{l-bhover-border}*/;
	color: #333333 /*{l-bhover-color}*/;
	text-shadow: 0 /*{l-bhover-shadow-x}*/ 1px /*{l-bhover-shadow-y}*/ 1px /*{l-bhover-shadow-radius}*/ #ffffff /*{l-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-l .ui-btn:active,
html .ui-bar-l .ui-btn:active,
html .ui-body-l .ui-btn:active,
html body .ui-group-theme-l .ui-btn:active,
html head + body .ui-btn.ui-btn-l:active {
	background-color: #770000 /*{l-bdown-background-color}*/;
	border-color: #854b00 /*{l-bdown-border}*/;
	color: #333333 /*{l-bdown-color}*/;
	text-shadow: 0 /*{l-bdown-shadow-x}*/ 1px /*{l-bdown-shadow-y}*/ 1px /*{l-bdown-shadow-radius}*/ #ffffff /*{l-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-l .ui-btn.ui-btn-active,
html .ui-bar-l .ui-btn.ui-btn-active,
html .ui-body-l .ui-btn.ui-btn-active,
html body .ui-group-theme-l .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-l.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-l .ui-checkbox-on:after,
html .ui-bar-l .ui-checkbox-on:after,
html .ui-body-l .ui-checkbox-on:after,
html body .ui-group-theme-l .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-l:after,
/* Active flipswitch background */
.ui-page-theme-l .ui-flipswitch-active,
html .ui-bar-l .ui-flipswitch-active,
html .ui-body-l .ui-flipswitch-active,
html body .ui-group-theme-l .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-l.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-l .ui-slider-track .ui-btn-active,
html .ui-bar-l .ui-slider-track .ui-btn-active,
html .ui-body-l .ui-slider-track .ui-btn-active,
html body .ui-group-theme-l .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-l .ui-btn-active {
	background-color: #3388cc /*{l-active-background-color}*/;
	border-color: #1c4a70 /*{l-active-border}*/;
	color: #ffffff /*{l-active-color}*/;
	text-shadow: 0 /*{l-active-shadow-x}*/ 1px /*{l-active-shadow-y}*/ 0 /*{l-active-shadow-radius}*/ #005599 /*{l-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-l .ui-radio-on:after,
html .ui-bar-l .ui-radio-on:after,
html .ui-body-l .ui-radio-on:after,
html body .ui-group-theme-l .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-l:after {
	border-color: #3388cc /*{l-active-background-color}*/;
}
/* Focus */
.ui-page-theme-l .ui-btn:focus,
html .ui-bar-l .ui-btn:focus,
html .ui-body-l .ui-btn:focus,
html body .ui-group-theme-l .ui-btn:focus,
html head + body .ui-btn.ui-btn-l:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-l .ui-focus,
html .ui-bar-l .ui-focus,
html .ui-body-l .ui-focus,
html body .ui-group-theme-l .ui-focus,
html head + body .ui-btn-l.ui-focus,
html head + body .ui-body-l.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{l-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{l-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{l-active-background-color}*/;
}


/* M
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-m,
.ui-page-theme-m .ui-bar-inherit,
html .ui-bar-m .ui-bar-inherit,
html .ui-body-m .ui-bar-inherit,
html body .ui-group-theme-m .ui-bar-inherit {
	background-color: #eeeeee /*{m-bar-background-color}*/;
	border-color: #b3b3b3 /*{m-bar-border}*/;
	color: #3e3e3e /*{m-bar-color}*/;
	text-shadow: 0 /*{m-bar-shadow-x}*/ 1px /*{m-bar-shadow-y}*/ 0 /*{m-bar-shadow-radius}*/ #ffffff /*{m-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-m {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-m,
.ui-page-theme-m,
.ui-page-theme-m .ui-panel-wrapper {
	background-color: #f9f9f9 /*{m-page-background-color}*/;
	border-color: #aaaaaa /*{m-page-border}*/;
	color: #333333 /*{m-page-color}*/;
	text-shadow: 0 /*{m-page-shadow-x}*/ 1px /*{m-page-shadow-y}*/ 0 /*{m-page-shadow-radius}*/ #ffffff /*{m-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-m,
.ui-page-theme-m .ui-body-inherit,
html .ui-bar-m .ui-body-inherit,
html .ui-body-m .ui-body-inherit,
html body .ui-group-theme-m .ui-body-inherit,
html .ui-panel-page-container-m {
	background-color: #f9f9f9 /*{m-body-background-color}*/;
	border-color: #aaaaaa /*{m-body-border}*/;
	color: #333333 /*{m-body-color}*/;
	text-shadow: 0 /*{m-body-shadow-x}*/ 1px /*{m-body-shadow-y}*/ 0 /*{m-body-shadow-radius}*/ #ffffff /*{m-body-shadow-color}*/;
}
.ui-body-m {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-m a,
html .ui-bar-m a,
html .ui-body-m a,
html body .ui-group-theme-m a {
	color: #3388cc /*{m-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-m a:visited,
html .ui-bar-m a:visited,
html .ui-body-m a:visited,
html body .ui-group-theme-m a:visited {
    color: #3388cc /*{m-link-visited}*/;
}
.ui-page-theme-m a:hover,
html .ui-bar-m a:hover,
html .ui-body-m a:hover,
html body .ui-group-theme-m a:hover {
	color: #005599 /*{m-link-hover}*/;
}
.ui-page-theme-m a:active,
html .ui-bar-m a:active,
html .ui-body-m a:active,
html body .ui-group-theme-m a:active {
	color: #005599 /*{m-link-active}*/;
}
/* Button up */
.ui-page-theme-m .ui-btn,
html .ui-bar-m .ui-btn,
html .ui-body-m .ui-btn,
html body .ui-group-theme-m .ui-btn,
html head + body .ui-btn.ui-btn-m,
/* Button visited */
.ui-page-theme-m .ui-btn:visited,
html .ui-bar-m .ui-btn:visited,
html .ui-body-m .ui-btn:visited,
html body .ui-group-theme-m .ui-btn:visited,
html head + body .ui-btn.ui-btn-m:visited {
	background-color: #eeeeee /*{m-bup-background-color}*/;
	border-color: #cccccc /*{m-bup-border}*/;
	color: #2f3e46 /*{m-bup-color}*/;
	text-shadow: 0 /*{m-bup-shadow-x}*/ 1px /*{m-bup-shadow-y}*/ 0 /*{m-bup-shadow-radius}*/ #ffffff /*{m-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-m .ui-btn:hover,
html .ui-bar-m .ui-btn:hover,
html .ui-body-m .ui-btn:hover,
html body .ui-group-theme-m .ui-btn:hover,
html head + body .ui-btn.ui-btn-m:hover {
	background-color: #dfdfdf /*{m-bhover-background-color}*/;
	border-color: #bbbbbb /*{m-bhover-border}*/;
	color: #2f3e46 /*{m-bhover-color}*/;
	text-shadow: 0 /*{m-bhover-shadow-x}*/ 1px /*{m-bhover-shadow-y}*/ 0 /*{m-bhover-shadow-radius}*/ #ffffff /*{m-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-m .ui-btn:active,
html .ui-bar-m .ui-btn:active,
html .ui-body-m .ui-btn:active,
html body .ui-group-theme-m .ui-btn:active,
html head + body .ui-btn.ui-btn-m:active {
	background-color: #d6d6d6 /*{m-bdown-background-color}*/;
	border-color: #bbbbbb /*{m-bdown-border}*/;
	color: #2f3e46 /*{m-bdown-color}*/;
	text-shadow: 0 /*{m-bdown-shadow-x}*/ 1px /*{m-bdown-shadow-y}*/ 0 /*{m-bdown-shadow-radius}*/ #ffffff /*{m-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-m .ui-btn.ui-btn-active,
html .ui-bar-m .ui-btn.ui-btn-active,
html .ui-body-m .ui-btn.ui-btn-active,
html body .ui-group-theme-m .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-m.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-m .ui-checkbox-on:after,
html .ui-bar-m .ui-checkbox-on:after,
html .ui-body-m .ui-checkbox-on:after,
html body .ui-group-theme-m .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-m:after,
/* Active flipswitch background */
.ui-page-theme-m .ui-flipswitch-active,
html .ui-bar-m .ui-flipswitch-active,
html .ui-body-m .ui-flipswitch-active,
html body .ui-group-theme-m .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-m.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-m .ui-slider-track .ui-btn-active,
html .ui-bar-m .ui-slider-track .ui-btn-active,
html .ui-body-m .ui-slider-track .ui-btn-active,
html body .ui-group-theme-m .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-m .ui-btn-active {
	background-color: #3388cc /*{m-active-background-color}*/;
	border-color: #1c4a70 /*{m-active-border}*/;
	color: #ffffff /*{m-active-color}*/;
	text-shadow: 0 /*{m-active-shadow-x}*/ 1px /*{m-active-shadow-y}*/ 0 /*{m-active-shadow-radius}*/ #005599 /*{m-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-m .ui-radio-on:after,
html .ui-bar-m .ui-radio-on:after,
html .ui-body-m .ui-radio-on:after,
html body .ui-group-theme-m .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-m:after {
	border-color: #3388cc /*{m-active-background-color}*/;
}
/* Focus */
.ui-page-theme-m .ui-btn:focus,
html .ui-bar-m .ui-btn:focus,
html .ui-body-m .ui-btn:focus,
html body .ui-group-theme-m .ui-btn:focus,
html head + body .ui-btn.ui-btn-m:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-m .ui-focus,
html .ui-bar-m .ui-focus,
html .ui-body-m .ui-focus,
html body .ui-group-theme-m .ui-focus,
html head + body .ui-btn-m.ui-focus,
html head + body .ui-body-m.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{m-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{m-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{m-active-background-color}*/;
}


/* N
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-n,
.ui-page-theme-n .ui-bar-inherit,
html .ui-bar-n .ui-bar-inherit,
html .ui-body-n .ui-bar-inherit,
html body .ui-group-theme-n .ui-bar-inherit {
	background-color: #9db8d2 /*{n-bar-background-color}*/;
	border-color: #96a6b0 /*{n-bar-border}*/;
	color: #333 /*{n-bar-color}*/;
	text-shadow: 0 /*{n-bar-shadow-x}*/ 1px /*{n-bar-shadow-y}*/ 1px /*{n-bar-shadow-radius}*/ #fff /*{n-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-n {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-n,
.ui-page-theme-n,
.ui-page-theme-n .ui-panel-wrapper {
	background-color: #f3f3f3 /*{n-page-background-color}*/;
	border-color: #999 /*{n-page-border}*/;
	color: #333333 /*{n-page-color}*/;
	text-shadow: 0 /*{n-page-shadow-x}*/ 1px /*{n-page-shadow-y}*/ 0 /*{n-page-shadow-radius}*/ #fff /*{n-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-n,
.ui-page-theme-n .ui-body-inherit,
html .ui-bar-n .ui-body-inherit,
html .ui-body-n .ui-body-inherit,
html body .ui-group-theme-n .ui-body-inherit,
html .ui-panel-page-container-n {
	background-color: #f3f3f3 /*{n-body-background-color}*/;
	border-color: #999 /*{n-body-border}*/;
	color: #333333 /*{n-body-color}*/;
	text-shadow: 0 /*{n-body-shadow-x}*/ 1px /*{n-body-shadow-y}*/ 0 /*{n-body-shadow-radius}*/ #fff /*{n-body-shadow-color}*/;
}
.ui-body-n {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-n a,
html .ui-bar-n a,
html .ui-body-n a,
html body .ui-group-theme-n a {
	color: #3388cc /*{n-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-n a:visited,
html .ui-bar-n a:visited,
html .ui-body-n a:visited,
html body .ui-group-theme-n a:visited {
    color: #3388cc /*{n-link-visited}*/;
}
.ui-page-theme-n a:hover,
html .ui-bar-n a:hover,
html .ui-body-n a:hover,
html body .ui-group-theme-n a:hover {
	color: #005599 /*{n-link-hover}*/;
}
.ui-page-theme-n a:active,
html .ui-bar-n a:active,
html .ui-body-n a:active,
html body .ui-group-theme-n a:active {
	color: #005599 /*{n-link-active}*/;
}
/* Button up */
.ui-page-theme-n .ui-btn,
html .ui-bar-n .ui-btn,
html .ui-body-n .ui-btn,
html body .ui-group-theme-n .ui-btn,
html head + body .ui-btn.ui-btn-n,
/* Button visited */
.ui-page-theme-n .ui-btn:visited,
html .ui-bar-n .ui-btn:visited,
html .ui-body-n .ui-btn:visited,
html body .ui-group-theme-n .ui-btn:visited,
html head + body .ui-btn.ui-btn-n:visited {
	background-color: #9db8d2 /*{n-bup-background-color}*/;
	border-color: #96a6b0 /*{n-bup-border}*/;
	color: #333 /*{n-bup-color}*/;
	text-shadow: 0 /*{n-bup-shadow-x}*/ 1px /*{n-bup-shadow-y}*/ 1px /*{n-bup-shadow-radius}*/ #fff /*{n-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-n .ui-btn:hover,
html .ui-bar-n .ui-btn:hover,
html .ui-body-n .ui-btn:hover,
html body .ui-group-theme-n .ui-btn:hover,
html head + body .ui-btn.ui-btn-n:hover {
	background-color: #9db8d2 /*{n-bhover-background-color}*/;
	border-color: #96a6b0 /*{n-bhover-border}*/;
	color: #333 /*{n-bhover-color}*/;
	text-shadow: 0 /*{n-bhover-shadow-x}*/ 1px /*{n-bhover-shadow-y}*/ 1px /*{n-bhover-shadow-radius}*/ #fff /*{n-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-n .ui-btn:active,
html .ui-bar-n .ui-btn:active,
html .ui-body-n .ui-btn:active,
html body .ui-group-theme-n .ui-btn:active,
html head + body .ui-btn.ui-btn-n:active {
	background-color: #bbcfdd /*{n-bdown-background-color}*/;
	border-color: #96a6b0 /*{n-bdown-border}*/;
	color: #333 /*{n-bdown-color}*/;
	text-shadow: 0 /*{n-bdown-shadow-x}*/ 1px /*{n-bdown-shadow-y}*/ 1px /*{n-bdown-shadow-radius}*/ #fff /*{n-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-n .ui-btn.ui-btn-active,
html .ui-bar-n .ui-btn.ui-btn-active,
html .ui-body-n .ui-btn.ui-btn-active,
html body .ui-group-theme-n .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-n.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-n .ui-checkbox-on:after,
html .ui-bar-n .ui-checkbox-on:after,
html .ui-body-n .ui-checkbox-on:after,
html body .ui-group-theme-n .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-n:after,
/* Active flipswitch background */
.ui-page-theme-n .ui-flipswitch-active,
html .ui-bar-n .ui-flipswitch-active,
html .ui-body-n .ui-flipswitch-active,
html body .ui-group-theme-n .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-n.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-n .ui-slider-track .ui-btn-active,
html .ui-bar-n .ui-slider-track .ui-btn-active,
html .ui-body-n .ui-slider-track .ui-btn-active,
html body .ui-group-theme-n .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-n .ui-btn-active {
	background-color: #3388cc /*{n-active-background-color}*/;
	border-color: #1c4a70 /*{n-active-border}*/;
	color: #ffffff /*{n-active-color}*/;
	text-shadow: 0 /*{n-active-shadow-x}*/ 1px /*{n-active-shadow-y}*/ 0 /*{n-active-shadow-radius}*/ #005599 /*{n-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-n .ui-radio-on:after,
html .ui-bar-n .ui-radio-on:after,
html .ui-body-n .ui-radio-on:after,
html body .ui-group-theme-n .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-n:after {
	border-color: #3388cc /*{n-active-background-color}*/;
}
/* Focus */
.ui-page-theme-n .ui-btn:focus,
html .ui-bar-n .ui-btn:focus,
html .ui-body-n .ui-btn:focus,
html body .ui-group-theme-n .ui-btn:focus,
html head + body .ui-btn.ui-btn-n:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-n .ui-focus,
html .ui-bar-n .ui-focus,
html .ui-body-n .ui-focus,
html body .ui-group-theme-n .ui-focus,
html head + body .ui-btn-n.ui-focus,
html head + body .ui-body-n.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{n-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{n-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{n-active-background-color}*/;
}


/* O
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-o,
.ui-page-theme-o .ui-bar-inherit,
html .ui-bar-o .ui-bar-inherit,
html .ui-body-o .ui-bar-inherit,
html body .ui-group-theme-o .ui-bar-inherit {
	background-color: #eeeeee /*{o-bar-background-color}*/;
	border-color: #b3b3b3 /*{o-bar-border}*/;
	color: #3e3e3e /*{o-bar-color}*/;
	text-shadow: 0 /*{o-bar-shadow-x}*/ 1px /*{o-bar-shadow-y}*/ 0 /*{o-bar-shadow-radius}*/ #ffffff /*{o-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-o {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-o,
.ui-page-theme-o,
.ui-page-theme-o .ui-panel-wrapper {
	background-color: #f9f9f9 /*{o-page-background-color}*/;
	border-color: #aaaaaa /*{o-page-border}*/;
	color: #333333 /*{o-page-color}*/;
	text-shadow: 0 /*{o-page-shadow-x}*/ 1px /*{o-page-shadow-y}*/ 0 /*{o-page-shadow-radius}*/ #ffffff /*{o-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-o,
.ui-page-theme-o .ui-body-inherit,
html .ui-bar-o .ui-body-inherit,
html .ui-body-o .ui-body-inherit,
html body .ui-group-theme-o .ui-body-inherit,
html .ui-panel-page-container-o {
	background-color: #f9f9f9 /*{o-body-background-color}*/;
	border-color: #aaaaaa /*{o-body-border}*/;
	color: #333333 /*{o-body-color}*/;
	text-shadow: 0 /*{o-body-shadow-x}*/ 1px /*{o-body-shadow-y}*/ 0 /*{o-body-shadow-radius}*/ #ffffff /*{o-body-shadow-color}*/;
}
.ui-body-o {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-o a,
html .ui-bar-o a,
html .ui-body-o a,
html body .ui-group-theme-o a {
	color: #3388cc /*{o-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-o a:visited,
html .ui-bar-o a:visited,
html .ui-body-o a:visited,
html body .ui-group-theme-o a:visited {
    color: #3388cc /*{o-link-visited}*/;
}
.ui-page-theme-o a:hover,
html .ui-bar-o a:hover,
html .ui-body-o a:hover,
html body .ui-group-theme-o a:hover {
	color: #005599 /*{o-link-hover}*/;
}
.ui-page-theme-o a:active,
html .ui-bar-o a:active,
html .ui-body-o a:active,
html body .ui-group-theme-o a:active {
	color: #005599 /*{o-link-active}*/;
}
/* Button up */
.ui-page-theme-o .ui-btn,
html .ui-bar-o .ui-btn,
html .ui-body-o .ui-btn,
html body .ui-group-theme-o .ui-btn,
html head + body .ui-btn.ui-btn-o,
/* Button visited */
.ui-page-theme-o .ui-btn:visited,
html .ui-bar-o .ui-btn:visited,
html .ui-body-o .ui-btn:visited,
html body .ui-group-theme-o .ui-btn:visited,
html head + body .ui-btn.ui-btn-o:visited {
	background-color: #eeeeee /*{o-bup-background-color}*/;
	border-color: #cccccc /*{o-bup-border}*/;
	color: #2f3e46 /*{o-bup-color}*/;
	text-shadow: 0 /*{o-bup-shadow-x}*/ 1px /*{o-bup-shadow-y}*/ 0 /*{o-bup-shadow-radius}*/ #ffffff /*{o-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-o .ui-btn:hover,
html .ui-bar-o .ui-btn:hover,
html .ui-body-o .ui-btn:hover,
html body .ui-group-theme-o .ui-btn:hover,
html head + body .ui-btn.ui-btn-o:hover {
	background-color: #dfdfdf /*{o-bhover-background-color}*/;
	border-color: #bbbbbb /*{o-bhover-border}*/;
	color: #2f3e46 /*{o-bhover-color}*/;
	text-shadow: 0 /*{o-bhover-shadow-x}*/ 1px /*{o-bhover-shadow-y}*/ 0 /*{o-bhover-shadow-radius}*/ #ffffff /*{o-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-o .ui-btn:active,
html .ui-bar-o .ui-btn:active,
html .ui-body-o .ui-btn:active,
html body .ui-group-theme-o .ui-btn:active,
html head + body .ui-btn.ui-btn-o:active {
	background-color: #d6d6d6 /*{o-bdown-background-color}*/;
	border-color: #bbbbbb /*{o-bdown-border}*/;
	color: #2f3e46 /*{o-bdown-color}*/;
	text-shadow: 0 /*{o-bdown-shadow-x}*/ 1px /*{o-bdown-shadow-y}*/ 0 /*{o-bdown-shadow-radius}*/ #ffffff /*{o-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-o .ui-btn.ui-btn-active,
html .ui-bar-o .ui-btn.ui-btn-active,
html .ui-body-o .ui-btn.ui-btn-active,
html body .ui-group-theme-o .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-o.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-o .ui-checkbox-on:after,
html .ui-bar-o .ui-checkbox-on:after,
html .ui-body-o .ui-checkbox-on:after,
html body .ui-group-theme-o .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-o:after,
/* Active flipswitch background */
.ui-page-theme-o .ui-flipswitch-active,
html .ui-bar-o .ui-flipswitch-active,
html .ui-body-o .ui-flipswitch-active,
html body .ui-group-theme-o .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-o.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-o .ui-slider-track .ui-btn-active,
html .ui-bar-o .ui-slider-track .ui-btn-active,
html .ui-body-o .ui-slider-track .ui-btn-active,
html body .ui-group-theme-o .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-o .ui-btn-active {
	background-color: #3388cc /*{o-active-background-color}*/;
	border-color: #1c4a70 /*{o-active-border}*/;
	color: #ffffff /*{o-active-color}*/;
	text-shadow: 0 /*{o-active-shadow-x}*/ 1px /*{o-active-shadow-y}*/ 0 /*{o-active-shadow-radius}*/ #005599 /*{o-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-o .ui-radio-on:after,
html .ui-bar-o .ui-radio-on:after,
html .ui-body-o .ui-radio-on:after,
html body .ui-group-theme-o .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-o:after {
	border-color: #3388cc /*{o-active-background-color}*/;
}
/* Focus */
.ui-page-theme-o .ui-btn:focus,
html .ui-bar-o .ui-btn:focus,
html .ui-body-o .ui-btn:focus,
html body .ui-group-theme-o .ui-btn:focus,
html head + body .ui-btn.ui-btn-o:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-o .ui-focus,
html .ui-bar-o .ui-focus,
html .ui-body-o .ui-focus,
html body .ui-group-theme-o .ui-focus,
html head + body .ui-btn-o.ui-focus,
html head + body .ui-body-o.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{o-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{o-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{o-active-background-color}*/;
}


/* Structure */
/* Disabled
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-disabled deprecated in 1.4. :disabled not supported by IE8 so we use [disabled] */
.ui-disabled,
.ui-state-disabled,
button[disabled],
.ui-select .ui-btn.ui-state-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	cursor: default !important;
	pointer-events: none;
}
/* Focus state outline
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus,
.ui-btn.ui-focus {
	outline: 0;
}
/* Unset box-shadow in browsers that don't do it right */
.ui-noboxshadow .ui-shadow,
.ui-noboxshadow .ui-shadow-inset,
.ui-noboxshadow .ui-overlay-shadow,
.ui-noboxshadow .ui-shadow-icon.ui-btn:after,
.ui-noboxshadow .ui-shadow-icon .ui-btn:after,
.ui-noboxshadow .ui-focus,
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow  input:focus,
.ui-noboxshadow .ui-panel {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow .ui-focus {
	outline-width: 1px;
	outline-style: auto;
}
