<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>Conversion Alliance</title>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=9" />
    <!--<meta charset="utf-8" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="../css/screen2col.css" media="screen" />    -->
   <!-- -->
   <link href="../Calendar/css/ui-darkness/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
   
    <link href="../css/themes/gizmoTheme.min.css" rel="stylesheet" />
    <link href="../css/themes/jquery.mobile.icons.min.css" rel="stylesheet" />
    <link href="../css/jquery-mobile-theme-012254-0-1.4.5/jquery.mobile.structure-1.4.5.min.css" rel="stylesheet" />
     <link href="../css/customThemes/customJquery.css" rel="stylesheet" type="text/css" /> 
    
    <script src="../javascript/jquery-2.1.3.js" type="text/javascript"></script>
    <script type="text/javascript" src="../javascript/jquery-migrate-1.2.1.js"></script>
    <script src="../Calendar/js/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
    <script src="../javascript/jquery.mobile-1.4.5.js" type="text/javascript"></script>
    <script type="text/javascript" src="../javascript/jquery.tmpl.min.js"></script>
    
    <script src="../javascript/commonFunctions.js" type="text/javascript"></script>
    <script src="../javascript/jobNavLinks.js" type="text/javascript"></script>
    <script src="../javascript/cors.js" type="text/javascript"></script>
    <script src="javascript/_templateSetup.js" type="text/javascript"></script>
        <script src="javascript/_jobSelectTemplate.js" type="text/javascript"></script>
    <style>
        .ui-icon-circle-triangle-e { background-position: -48px -192px; }        
        .ui-icon-circle-triangle-w { background-position: -80px -192px;}
        .ui-listview-filter-inset {
			margin-top: 0;
		}
  
    .ui-field-contain div.ui-input-text { width:78%; display: inline-block; }
  .ui-field-contain .ui-select { width: 77%; display: inline-block; }

        .word_wrap {
            white-space: pre !important; /* CSS 2.0 */
            white-space: pre-wrap !important; /* CSS 2.1 */
            white-space: pre-line !important; /* CSS 3.0 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            white-space: -moz-pre-wrap; /* Mozilla */
            word-wrap: break-word; /* IE 5+ */
        }
</style>
     <script>      
         var date = new Date();         
         jQuery(document).ready(function () {
             jQuery("#inHomeDate").datepicker({
                 minDate: new Date(2010, 0, 1),
                 dateFormat: 'mm/dd/yy',
                 constrainInput: true,
                 beforeShowDay: nationalDays
             });
             if (jobCustomerNumber == ALLIED_CUSTOMER_NUMBER) {
                 jQuery("#inHomeDate2").datepicker({
                     minDate: new Date(2010, 0, 1),
                     dateFormat: 'mm/dd/yy',
                     constrainInput: true,
                     beforeShowDay: nationalDays
                 });
                 jQuery("#inHomeDate3").datepicker({
                     minDate: new Date(2010, 0, 1),
                     dateFormat: 'mm/dd/yy',
                     constrainInput: true,
                     beforeShowDay: nationalDays
                 });
             }
             //$("#inHomeDate").datepicker().val("");
             jQuery("#expirationDate").datepicker({
                 minDate: new Date(2010, 0, 1),
                 dateFormat: 'mm/dd/yy',
                 constrainInput: true,
                 beforeShowDay: allowSundays
                 //beforeShowDay: nationalDays
             });
             //$("#expirationDate").datepicker().val("");
         });
        

     </script>   
     <script type="text/html" id="salonBrandTemplate">
    {{each(i, item) items}}
       {{if i == 0}}
          <option value="select">Select</option>
       {{/if}}
       <option value="${value}">${name}</option>
    {{/each}}
    </script>       
</head>
<body bgcolor="#000033">
    <div id="_jobSelectTemplate" data-role="page" class="ui-responsive-panel">
        <input type="hidden" name="pageName" id="pageName" value="template" />
        <input type="hidden" name="hdnOption" id="hdnOption">

        <div data-role="header" data-theme="a">
            <h2><div id="navHeader" align="center" name="navHeader"></div></h2>
            <a href="#navLinksPanel" data-role="button" data-icon="bars" data-inline="true" title="Navigation" data-mini="true" data-theme="a" data-iconpos="notext">Navigation</a>
            <div id="dvHeaderButtons" name="dvHeaderButtons" style="text-align: right"></div>
        </div>
        <!-- /header -->
        
         <!-- Nav links panel Start-->
        <div id="navLinksPanel"  data-role="panel" data-position="left" data-display="push" data-theme="c">
            <ul data-role="listview" data-theme="c" id="ulJobLinks"></ul>
             <a name="navHint" id="navHint"></a>
        </div>
                <!-- Nav links panel End-->
        <div data-role="content" style="padding-top:0;" data-theme="d"  >
         <h2>Select Template</h2>
         <div id="divCustomer1"  data-role="fieldcontain" data-mini="true"  style="display: none; " >
                  <label for="customerName" class="select label"><span id="Span1">*</span>Customer:</label>
                  <input type="text" name="customerName" id="customerName" />                                                                        
                  <span style="padding-left:145px;font-size:smaller;font-family:Arial">After you enter <strong>at least three characters</strong> the autocomplete function will show all possible customer matches.</span>
         </div>
         <div id="divCustomer" data-role="fieldcontain"  style="display: none;">
              <label for="ddlCustomer" style="width:110px; margin-left: 10px;"><span>*</span>Customer:</label>
              <select id="ddlCustomer" name="ddlCustomer" data-mini="true" onchange="pageObj.getSelectedCustomerInfo(this);" data-theme="f"></select>
         </div>
         <div data-role="fieldcontain" style="margin-left: 15px;" data-mini="true" id="dvSalonBrand">
              <span>Salon Brand:</span>
              <span><select id="ddlSalonBrand" name="ddlSalonBrand" data-mini="true"></select></span>
         </div>
         <div data-role="fieldcontain" data-mini="true">
             <label for="txtJobName" style="width:138px;" class="select label" ><span id="spnJobDesc">*</span>Job Description:</label>  
             <input type="text"  name="txtJobName" maxlength="49" placeholder="49 characters max" id="txtJobName" onblur="pageObj.checkJobNameExistency()"/><a href="#" name="namingHint" id="namingHint"></a>
         <!--<div id="dvOrderType" data-role="fieldcontain" data-mini="true" style="margin-left:20px; display:none;" >
                                    <label for="text" class="select label" style="vertical-align:top;"><span id="spnOrderType">*</span>Order Type:
                                    </label>
                                    <select name="orderType" id="orderType" data-mini="true">
                                        <option value="-1">Select Order Type</option>
                                        <option value="corporate">Corporate</option>
                                        <option value="districtOptIn">District Opt-In</option>
                                    </select>
            </div>-->  
         </div>
            <div id="dvInHomeDates" style="">
                <div data-role="fieldcontain" data-mini="true" id="dvInHomeDate">
                    <label style="width:138px;" for="inHomeDate" id="schedDate" class="select label" align="left" name="schedDate"></label>
                    <input type="text" name="inHomeDate" id="inHomeDate" placeholder="MM/DD/YY" readonly="readonly" data-mini="true" data-theme="c" />
                </div>
                <div data-role="fieldcontain" data-mini="true" id="dvInHomeDate2" style="display:none;">
                    <label style="width:138px;" for="inHomeDate2" id="schedDate2" class="select label" align="left" name="schedDate2">*In Home Date2</label>
                    <input type="text" name="inHomeDate2" id="inHomeDate2" placeholder="MM/DD/YY" readonly="readonly" data-mini="true" data-theme="c" />
                </div>
                <div data-role="fieldcontain" data-mini="true" id="dvInHomeDate3" style="display:none;">
                    <label style="width:138px;" for="inHomeDate3" id="schedDate3" class="select label" align="left" name="schedDate3">*In Home Date3</label>
                    <input type="text" name="inHomeDate3" id="inHomeDate3" placeholder="MM/DD/YY" readonly="readonly" data-mini="true" data-theme="c" />
                </div>
            </div>
           <div id="dvOfferExp" data-role="fieldcontain" data-mini="true" style="display:none;">
                <label id="lblOfferExp"  class="select label" align="center" name="lblOfferExp" style="width:138px;">Offer Expiration:</label>
                <input type="text" name="expirationDate" id="expirationDate" placeholder="MM/DD/YY" readonly="readonly" data-mini="true" data-theme="c"/>
           </div>
           <div data-role="fieldcontain" id="divEstQty" data-mini="true">
               <label for="schedDate" class="select label">Estimated Mail Quantity:</label>
               <input type="text" name="estimatedQuantity" id="estimatedQuantity" data-mini="true" data-theme="d" maxlength="10" onBlur="setDigits(this.id);" onkeypress="return browserName(event);"/>
           </div>
           <div id="divError" class="errorMessageSection" align="center" style="display:none;"></div>  
           <span id="spanPricingNote" style="font-size:smaller;font-family:Arial;display:none;">Note: prices do not include postage.</span>
           <div id="dvTemplates">
          
           <ul id="template" data-role="listview" data-theme="f" data-inset="true">
           </ul>
               <span id="Span2" style="font-size:smaller;font-family:Arial">* Required fields.</span>
           </div>
        
            <!-- demo Hints -->
        <div data-role="popup" id="walkthroughSteps" class="ui-content" data-theme="b" style="max-width:300px;" data-history="false" data-dismissible="false" data-overlay-theme="d">
        <a href="#"  onclick="$('#walkthroughSteps').popup('close');" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <div id="walkthroughStepsPop"></div>
            <!--<h3>Getting Started</h3>
            
                <ol>
                <li>Enter a unique name in the Job Description field.</li>
                <li>Select an In-Home date.</li>
                <li>Select a template.</li>
                <li>Click Continue.</li>
                </ol> -->
        <br /><p align="right"><a href="#" onclick="turnDemoHintsOffClick('walkthroughSteps')" data-theme="b" style="font-size:14px;text-decoration:none;">Turn Demo Hints Off</a></p>
        </div>


        <div data-role="popup" id="navHints" class="ui-content" data-theme="b" style="max-width:300px;" data-history="false" data-dismissible="false" data-overlay-theme="d">
            <a href="#"  onclick="manageDemoHints();" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            <div id="navHintsPop"></div>
            <!--<h3>Gizmo Module Navigation</h3>
            <p>
                The lefthand navigation panel houses the Gizmo modules and allows you to navigate through them. The site will guide you through them from top to bottom, but will allow you to move through them freely after completing the Select Template module. -->
            <p align="right">
                <a href="#" onclick="turnDemoHintsOffClick('navHints')" data-theme="b" style="font-size:14px;text-decoration:none;">Turn Demo Hints Off</a>
            </p>
       </div>

        <div data-role="popup" id="dvWelcomeDemoPopup" class="ui-content" data-theme="b" style="max-width:300px;" data-history="false" data-dismissible="false" data-overlay-theme="d">
            <a href="#"  onclick="$('#dvWelcomeDemoPopup').popup('close');$('#navHints').popup('open', { positionTo: '#navHint' });" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            <div id="welcomePop"></div>
            <br /><p align="right"><a href="#" onclick="turnDemoHintsOffClick('dvWelcomeDemoPopup')" data-theme="b" style="font-size:14px;text-decoration:none;">Turn Demo Hints Off</a></p>
           <!-- <h3>Welcome to Gizmo</h3>
            <p>
                Throughout this demo, you'll see these helpful blue boxes pop up to help guide you through the process of creating, and submitting a simple job. Use the "x" button in the upper right to close the box, or the "Hints" switch at the bottom to toggle all help dialogs on and off.
            </p>-->
            <fieldset data-role="controlgroup" style="width:76%;padding-left:86px">
                <label><input type="checkbox" data-iconpos="right" id="chkDontShowMeThisAgain" name="chkDontShowMeThisAgain" data-theme="b" data-mini="true" onchange="doNotShowMeThisAgainClick(event, 'dvWelcomeDemoPopup')" />Do Not Show Me This Again</label>
            </fieldset>           
        </div>

<!-- end demo Hints -->

           <div id="divBottom" name="divBottom" style="text-align:right"></div>   
           <label id="error-message" align="right" class="errorMessageSection" style="visibility:hidden; font-size:smaller; font-weight:bold;"></br></br>No results found.</label>

        <div class="colmask leftmenu">
            <div class="colleft">
                <div class="col1">
                    <!-- Column 2 start -->
                    <div class="content-primary">
                         <!--<ul data-role="listview" data-theme="c" id="ulJobLinks"></ul>-->
                    </div>
                    <!--/content-primary -->
                    <!-- Column 2 end -->
                </div>
                <div class="col2">
                    <!-- Column 1 start -->
                  
                </div>
                <!-- Column 1 end -->
            </div>
        </div>

          

        </div>
       
    
        <div id="footer" data-role="footer" data-theme="d" data-position="fixed">
<a href="http://gizmo.tribunedirect.com" style="border:0px; box-shadow:none; padding:0px 12px 0px 12px;" target="_blank" data-iconpos="left" ><img src="../images/gizmo_footer_logo.png" alt="Gizmo" /></a>
<a href="https://conversionalliance.com" target="_blank" data-iconpos="notext" class="ui-btn-right" style="border:0px; box-shadow:none;" ><img id="customerFooterLogo" src="../images/CA_footer_logo.png" alt="Conversion Alliance" /></a>
</div>
        <!-- footer -->
    </div>
</body>
</html>
