
/* Custom jQuery CSS Document */

@charset "UTF-8";
/*.jobMngmtBkgd {
	background-color: #CDE2EE;
	background-image: url(../../images/job_mngmt_bkgd.jpg);
	background-repeat: repeat-x;
}*/
.jobMngmtBkgd_scotts {
	background-color: #FFFFFF;
	/*background-image:url(../../images/scotts_bkgd_gradient.jpg);*/
	background-repeat: repeat-x;
}
.jobMngmtBkgd_cgs {
	background-color: #FFFFFF;
	/*background-image:url(../../images/caseys_bkgd.jpg);*/
	background-repeat: repeat;
}
.jobMngmtBkgd_cw {
	background-color: #FFFFFF;
	/*background-image:url(../../images/cw_bkgd.jpg);*/
	background-repeat: no-repeat;
}
.jobMngmtBkgd_regis {
	background-color: #FFFFFF;
	/*background-image:url(../../images/regis_salon_bkgd.jpg);*/
	background-repeat:no-repeat;
}

.logo_underline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #142E79;
	padding-bottom: 15px;
}
.welcomeTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}
.thumbnail {
	border: 1px solid #e1e1e1;
	-moz-box-shadow: 0 3px 5px #888;
	-webkit-box-shadow: 0 3px 5px#888;
	box-shadow: 0 3px 5px #888;
}
.bodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
.roundedCorners {
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #F4F4F4;
	border: 1px solid #B2B2B2;
}
.roundedCornersBlue {
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #dae8fd;
}
.roundedCornersOrange {
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #ffe8bf;
}
.even {
	background-color:#EEE
}
.odd {
	background-color:#FFF
}
.fileGridData
{
    border-color:lightgrey;
    border-width:0.1px;
    border-style:solid;
}
.label
{
    display: inline-block; 
    width: 140px; 
    text-align: left;
}
.Margin
{
    margin-left:-100px
    }

.errorMessage {position:fixed;top:25%;left: 50%;width: 40%;height: 20%;z-index: 10000;color:Red;}
.errorMessageSection {position:inherit;z-index: 10000;color:Red;}

.wordwrap
{
/* wrap long text and urls */
white-space: pre; /* CSS 2.0 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3.0 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
word-wrap: break-word; /* IE 5+ */
} 

.ui-icon-myapp-save:after {
	background-image: url(images/jq_icon_save_18.png);
}
.ui-icon-myapp-edit:after {
	background-image: url(images/jq_icon_edit_18.png);
}
.ui-icon-myapp-upload:after {
	background-image: url(images/jq_icon_upload_18.png);
}
.ui-icon-myapp-status:after {
	background-image: url(images/jq_icon_status_18.png);
}
.ui-icon-myapp-report:after {
	background-image: url(images/jq_icon_report_18.png);
}
.ui-icon-myapp-expand:after {
	background-image: url(images/jq_icon_expand_18.png);
}
.ui-icon-myapp-attention:after {
	background-image: url(images/jq_icon_attention_18.png);
}
.ui-icon-myapp-dashboard:after {
	background-image: url(images/jq_icon_dashboard_18.png);
}
.ui-icon-myapp-email:after {
	background-image: url(images/jq_icon_email_18.png);
}
.ui-icon-myapp-bullets:after {
	background-image: url(images/jq_icon_bullets_18.png);
}
.ui-icon-myapp-execute:after {
	background-image: url(images/jq_icon_execute_18.png);
}
.ui-icon-myapp-new-window:after {
	background-image: url(images/jq_icon_new_window_18.png);
}
.ui-icon-myapp-tag:after {
	background-image: url(images/jq_icon_tag_18.png);
}
.ui-icon-myapp-user:after {
	background-image: url(images/jq_icon_user_18.png);
}
.ui-icon-myapp-map-marker:after {
	background-image: url(images/jq_map_marker.png);
}
.ui-icon-myapp-change:after {
	background-image: url(images/jq_icon_change_18.png);
}
.ui-icon-myapp-trash:after {
	background-image: url(images/jq_icon_trash_18.png);
}
.ui-icon-myapp-comment:after {
	background-image: url(images/jq_icon_comment_18.png);
}
.ui-icon-myapp-element:after {
	background-image: url(images/jq_icon_element_18.png);
}
.ui-icon-myapp-filter:after {
	background-image: url(images/jq_icon_filter_18.png);
}
.ui-icon-myapp-xml:after {
	background-image: url(images/jq_icon_xml_18.png);
}
.ui-icon-myapp-triangle_r:after {
	background-image: url(images/jq_icon_triangle_r_18.png);
}
.ui-icon-myapp-triangle_l:after {
	background-image: url(images/jq_icon_triangle_l_18.png);
}
.ui-icon-myapp-demo:after {
	background-image: url(images/jq_icon_demo_18.png);
}
.ui-icon-myapp-print:after {
	background-image: url(images/jq_icon_print_18.png);
}
.ui-icon-myapp-upc:after {
	background-image: url(images/jq_icon_upc_18.png);
}
.ui-icon-myapp-scan:after {
	background-image: url(images/jq_icon_scan_18.png);
}
.ui-icon-myapp-help:after {
	background-image: url(images/jq_icon_help_18.png);
}
.ui-icon-myapp-received:after {
	background-image: url(images/jq_icon_received_18.png);
}
.ui-icon-myapp-partially-received:after {
	background-image: url(images/jq_icon_partially_received_18.png);
}
.ui-icon-myapp-not-received:after {
	background-image: url(images/jq_icon_not_received_18.png);
}
.ui-icon-myapp-killed:after{
	background-image: url(images/jq_icon_killed_18.png);
}
.ui-icon-myapp-printing:after {
	background-image: url(images/jq_icon_printing_18.png);
}
.ui-icon-myapp-ship:after {
	background-image: url(images/jq_icon_ship_18.png);
}
.ui-icon-myapp-download:after {
	background-image: url(images/jq_icon_download_18.png);
}
.ui-icon-myapp-download-comments:after {
	background-image: url(images/jq_icon_download_comments_18.png);
}
.ui-icon-myapp-group:after
{ background-image: url(images/jq_icon_group_18.png); }

.ui-icon-myapp-polygon:after
{ background-image: url(images/jq_icon_polygon_18.png); }

.ui-icon-myapp-move:after
{ background-image: url(images/jq_icon_move_18.png); }

.ui-icon-myapp-locations:after {
	background-image: url(images/jq_icon_locations_18.png);
}
.ui-icon-myapp-charts:after {
	background-image: url(images/jq_icon_charts_18.png);
}
.ui-icon-myapp-list:after {
	background-image: url(images/jq_icon_list_18.png);
}
.custom-count-pos{
    font-size: 11px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    float: right;
}

@media all and (max-width: 60em) {
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e { 
		width: 100%; 
		float:none; 
	}
}

/* stack all grids below 40em (640px) */
@media all and (max-width: 60em) {
	.index-breakpoint .ui-block-a,
	.index-breakpoint .ui-block-b,
	.index-breakpoint .ui-block-c,
	.index-breakpoint .ui-block-d,
	.index-breakpoint .ui-block-e {
		width: 100%;
		float: none;
	}
}
@media all and (max-width: 60em) {
	.page-select-breakpoint .ui-block-a,
	.page-select-breakpoint .ui-block-b {
		float:left;
		width:50%;}
}

/* 3rd breakpoint - Bump up font size at very wide screens */
@media all and (min-width: 60em) {
    .index-breakpoint .ui-block-a {
		width: 22%;
		}
    .index-breakpoint .ui-block-b,
    .index-breakpoint .ui-block-c {
      width: 37%;
	}
	
	.index-breakpoint {
	text-align: center;
	padding-left:3%;
	padding-right:1%;}
	
}
@media all and (min-width: 60em) {
	.page-select-breakpoint .ui-block-a,
	.page-select-breakpoint .ui-block-b {
		float:left;
		width:50%;}
}

/* stack all grids below 40em (640px) */
@media all and (max-width: 60em) {
	.login-breakpoint .ui-block-a,
	.login-breakpoint .ui-block-b,
	.login-breakpoint .ui-block-c,
	.login-breakpoint .ui-block-d,
	.login-breakpoint .ui-block-e {
		width: 100%;
		float: none;
	}
}


/* 3rd breakpoint - Bump up font size at very wide screens */
@media all and (min-width: 60em) {
    .login-breakpoint .ui-block-a {
		width: 25%;
		}
    .login-breakpoint .ui-block-b{
      width: 75%;
	  padding-left:1em;
	  padding-right:1em;
	}
	
	.login-breakpoint {
	text-align: center;
	padding-left:3%;
	padding-right:1%;}
	
}

/* stack all grids below 40em (640px) */
@media all and (max-width: 60em) {
	.listSelect-breakpoint .ui-block-a,
	.listSelect-breakpoint .ui-block-b,
	.listSelect-breakpoint .ui-block-c,
	.listSelect-breakpoint .ui-block-d,
	.listSelect-breakpoint .ui-block-e {
		width: 100%;
		float: none;
		padding-left:8px;
		padding-right:8px;
	}
}


/* 3rd breakpoint - Bump up font size at very wide screens */
@media all and (min-width: 60em) {
    .listSelect-breakpoint .ui-block-a {
		width: 22%;
		max-width:350px;
		}
    .listSelect-breakpoint .ui-block-b{
      width: 78%;
      padding-left:1em;
	  padding-right:1em;
	}
	
	.listSelect-breakpoint {
	text-align: center;
	}
	
}




.ui-li-desc{
	white-space: normal; !important
	}

.li-first .ui-icon {
    visibility:hidden;
}

.grass {
	background-image:url(../../images/grass_bkgd.png);
	background-repeat: repeat-x;
	height:131;
	
}

.cw_banner {
	background-image:url(../../images/CW_Footer_Banner.png);
	background-repeat: repeat-x;
	height:79;
	
}

@media (min-width:35em){

	/* wrap on wide viewports once open */
	
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
	.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
	.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
		margin-right: 17em;
	}
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin-left: 17em;
	}
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
		width: auto;
	}
	
	/* disable "dismiss" on wide viewports */
	.ui-panel-dismiss {
		display: none;
	}
	/* same as the above but for panels with display mode "push" only */
	.ui-panel-dismiss-display-push {
		display: none;
	}
    .completedMilestone {
	color: #090;
}
.incompleteMilestone {
	color: #900;
}

}

/* M
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-m {
	border: 1px solid #b3b3b3 /*{m-bar-border}*/;
	background: #eeeeee /*{m-bar-background-color}*/;
	color: #3e3e3e /*{m-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{m-bar-shadow-x}*/ 1px /*{m-bar-shadow-y}*/ 0 /*{m-bar-shadow-radius}*/ #ffffff /*{m-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 /*{m-bar-background-start}*/), to( #dddddd /*{m-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f0f0f0 /*{m-bar-background-start}*/, #dddddd /*{m-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f0f0f0 /*{m-bar-background-start}*/, #dddddd /*{m-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f0f0f0 /*{m-bar-background-start}*/, #dddddd /*{m-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f0f0f0 /*{m-bar-background-start}*/, #dddddd /*{m-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f0f0f0 /*{m-bar-background-start}*/, #dddddd /*{m-bar-background-end}*/);
}
.ui-bar-m .ui-link-inherit {
	color: #3e3e3e /*{m-bar-color}*/;
}
.ui-bar-m a.ui-link {
	color: #7cc4e7 /*{m-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-m a.ui-link:visited {
    color: #2489ce /*{m-bar-link-visited}*/;
}
.ui-bar-m a.ui-link:hover {
	color: #2489ce /*{m-bar-link-hover}*/;
}
.ui-bar-m a.ui-link:active {
	color: #2489ce /*{m-bar-link-active}*/;
}
.ui-bar-m,
.ui-bar-m input,
.ui-bar-m select,
.ui-bar-m textarea,
.ui-bar-m button {
	     font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-m,
.ui-overlay-m {
	border: 1px solid #aaaaaa /*{m-body-border}*/;
	color: #333333 /*{m-body-color}*/;
	text-shadow: 0 /*{m-body-shadow-x}*/ 1px /*{m-body-shadow-y}*/ 0 /*{m-body-shadow-radius}*/ #ffffff /*{m-body-shadow-color}*/;
	background: #f9f9f9 /*{m-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{m-body-background-start}*/), to( #eeeeee /*{m-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{m-body-background-start}*/, #eeeeee /*{m-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{m-body-background-start}*/, #eeeeee /*{m-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{m-body-background-start}*/, #eeeeee /*{m-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{m-body-background-start}*/, #eeeeee /*{m-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{m-body-background-start}*/, #eeeeee /*{m-body-background-end}*/);
}
.ui-overlay-m {
	background-image: none;
	border-width: 0;
}
.ui-body-m,
.ui-body-m input,
.ui-body-m select,
.ui-body-m textarea,
.ui-body-m button {
	     font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-m .ui-link-inherit {
	color: #333333 /*{m-body-color}*/;
}
.ui-body-m .ui-link {
	color: #2489ce /*{m-body-link-color}*/;
	font-weight: bold;
}
.ui-body-m .ui-link:visited {
    color: #2489ce /*{m-body-link-visited}*/;
}
.ui-body-m .ui-link:hover {
	color: #2489ce /*{m-body-link-hover}*/;
}
.ui-body-m .ui-link:active {
	color: #2489ce /*{m-body-link-active}*/;
}
.ui-btn-up-m {
	border: 1px solid #cccccc /*{m-bup-border}*/;
	background: #eeeeee /*{m-bup-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{m-bup-color}*/;
	text-shadow: 0 /*{m-bup-shadow-x}*/ 1px /*{m-bup-shadow-y}*/ 0 /*{m-bup-shadow-radius}*/ #ffffff /*{m-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{m-bup-background-start}*/), to( #f1f1f1 /*{m-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{m-bup-background-start}*/, #f1f1f1 /*{m-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{m-bup-background-start}*/, #f1f1f1 /*{m-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{m-bup-background-start}*/, #f1f1f1 /*{m-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{m-bup-background-start}*/, #f1f1f1 /*{m-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{m-bup-background-start}*/, #f1f1f1 /*{m-bup-background-end}*/);
}
.ui-btn-up-m:visited,
.ui-btn-up-m a.ui-link-inherit {
	color: #2f3e46 /*{m-bup-color}*/;
}
.ui-btn-hover-m {
	border: 1px solid #bbbbbb /*{m-bhover-border}*/;
	background: #dfdfdf /*{m-bhover-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{m-bhover-color}*/;
	text-shadow: 0 /*{m-bhover-shadow-x}*/ 1px /*{m-bhover-shadow-y}*/ 0 /*{m-bhover-shadow-radius}*/ #ffffff /*{m-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{m-bhover-background-start}*/), to( #e0e0e0 /*{m-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{m-bhover-background-start}*/, #e0e0e0 /*{m-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{m-bhover-background-start}*/, #e0e0e0 /*{m-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{m-bhover-background-start}*/, #e0e0e0 /*{m-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{m-bhover-background-start}*/, #e0e0e0 /*{m-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{m-bhover-background-start}*/, #e0e0e0 /*{m-bhover-background-end}*/);
}
.ui-btn-hover-m:visited,
.ui-btn-hover-m:hover,
.ui-btn-hover-m a.ui-link-inherit {
	color: #2f3e46 /*{m-bhover-color}*/;
}
.ui-btn-down-m {
	border: 1px solid #bbbbbb /*{m-bdown-border}*/;
	background: #d6d6d6 /*{m-bdown-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{m-bdown-color}*/;
	text-shadow: 0 /*{m-bdown-shadow-x}*/ 1px /*{m-bdown-shadow-y}*/ 0 /*{m-bdown-shadow-radius}*/ #ffffff /*{m-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{m-bdown-background-start}*/), to( #dfdfdf /*{m-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{m-bdown-background-start}*/, #dfdfdf /*{m-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{m-bdown-background-start}*/, #dfdfdf /*{m-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{m-bdown-background-start}*/, #dfdfdf /*{m-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{m-bdown-background-start}*/, #dfdfdf /*{m-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{m-bdown-background-start}*/, #dfdfdf /*{m-bdown-background-end}*/);
}
.ui-btn-down-m:visited,
.ui-btn-down-m:hover,
.ui-btn-down-m a.ui-link-inherit {
	color: #2f3e46 /*{m-bdown-color}*/;
}
.ui-btn-up-m,
.ui-btn-hover-m,
.ui-btn-down-m {
	     font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* N
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-n {
	border: 1px solid #96a6b0 /*{n-bar-border}*/;
	background: #9db8d2 /*{n-bar-background-color}*/;
	color: #333 /*{n-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{n-bar-shadow-x}*/ 1px /*{n-bar-shadow-y}*/ 1px /*{n-bar-shadow-radius}*/ #fff /*{n-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e1eef4 /*{n-bar-background-start}*/), to( #9db8d2 /*{n-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e1eef4 /*{n-bar-background-start}*/, #9db8d2 /*{n-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e1eef4 /*{n-bar-background-start}*/, #9db8d2 /*{n-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e1eef4 /*{n-bar-background-start}*/, #9db8d2 /*{n-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e1eef4 /*{n-bar-background-start}*/, #9db8d2 /*{n-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e1eef4 /*{n-bar-background-start}*/, #9db8d2 /*{n-bar-background-end}*/);
}
.ui-bar-n .ui-link-inherit {
	color: #333 /*{n-bar-color}*/;
}
.ui-bar-n a.ui-link {
	color: #ddf0f8 /*{n-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-n a.ui-link:visited {
    color: #ddf0f8 /*{n-bar-link-visited}*/;
}
.ui-bar-n a.ui-link:hover {
	color: #ddf0f8 /*{n-bar-link-hover}*/;
}
.ui-bar-n a.ui-link:active {
	color: #ddf0f8 /*{n-bar-link-active}*/;
}
.ui-bar-n,
.ui-bar-n input,
.ui-bar-n select,
.ui-bar-n textarea,
.ui-bar-n button {
	      font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-n,
.ui-overlay-n {
	border: 1px solid #999 /*{n-body-border}*/;
	color: #333333 /*{n-body-color}*/;
	text-shadow: 0 /*{n-body-shadow-x}*/ 1px /*{n-body-shadow-y}*/ 0 /*{n-body-shadow-radius}*/ #fff /*{n-body-shadow-color}*/;
	background: #f3f3f3 /*{n-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{n-body-background-start}*/), to( #ccc /*{n-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{n-body-background-start}*/, #ccc /*{n-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{n-body-background-start}*/, #ccc /*{n-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{n-body-background-start}*/, #ccc /*{n-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{n-body-background-start}*/, #ccc /*{n-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{n-body-background-start}*/, #ccc /*{n-body-background-end}*/);
}
.ui-overlay-n {
	background-image: none;
	border-width: 0;
}
.ui-body-n,
.ui-body-n input,
.ui-body-n select,
.ui-body-n textarea,
.ui-body-n button {
	      font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-n .ui-link-inherit {
	color: #333333 /*{n-body-color}*/;
}
.ui-body-n .ui-link {
	color: #2489CE /*{n-body-link-color}*/;
	font-weight: bold;
}
.ui-body-n .ui-link:visited {
    color: #2489CE /*{n-body-link-visited}*/;
}
.ui-body-n .ui-link:hover {
	color: #2489CE /*{n-body-link-hover}*/;
}
.ui-body-n .ui-link:active {
	color: #2489CE /*{n-body-link-active}*/;
}
.ui-btn-up-n {
	border: 1px solid #96a6b0 /*{n-bup-border}*/;
	background: #9db8d2 /*{n-bup-background-color}*/;
	font-weight: bold;
	color: #333 /*{n-bup-color}*/;
	text-shadow: 0 /*{n-bup-shadow-x}*/ 1px /*{n-bup-shadow-y}*/ 1px /*{n-bup-shadow-radius}*/ #fff /*{n-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f4f9fb /*{n-bup-background-start}*/), to( #bbcfdd /*{n-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f4f9fb /*{n-bup-background-start}*/, #bbcfdd /*{n-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f4f9fb /*{n-bup-background-start}*/, #bbcfdd /*{n-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f4f9fb /*{n-bup-background-start}*/, #bbcfdd /*{n-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f4f9fb /*{n-bup-background-start}*/, #bbcfdd /*{n-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f4f9fb /*{n-bup-background-start}*/, #bbcfdd /*{n-bup-background-end}*/);
}
.ui-btn-up-n:visited,
.ui-btn-up-n a.ui-link-inherit {
	color: #333 /*{n-bup-color}*/;
}
.ui-btn-hover-n {
	border: 1px solid #96a6b0 /*{n-bhover-border}*/;
	background: #9db8d2 /*{n-bhover-background-color}*/;
	font-weight: bold;
	color: #333 /*{n-bhover-color}*/;
	text-shadow: 0 /*{n-bhover-shadow-x}*/ 1px /*{n-bhover-shadow-y}*/ 1px /*{n-bhover-shadow-radius}*/ #fff /*{n-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{n-bhover-background-start}*/), to( #d3e0e8 /*{n-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{n-bhover-background-start}*/, #d3e0e8 /*{n-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{n-bhover-background-start}*/, #d3e0e8 /*{n-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{n-bhover-background-start}*/, #d3e0e8 /*{n-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{n-bhover-background-start}*/, #d3e0e8 /*{n-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{n-bhover-background-start}*/, #d3e0e8 /*{n-bhover-background-end}*/);
}
.ui-btn-hover-n:visited,
.ui-btn-hover-n:hover,
.ui-btn-hover-n a.ui-link-inherit {
	color: #333 /*{n-bhover-color}*/;
}
.ui-btn-down-n {
	border: 1px solid #96a6b0 /*{n-bdown-border}*/;
	background: #bbcfdd /*{n-bdown-background-color}*/;
	font-weight: bold;
	color: #333 /*{n-bdown-color}*/;
	text-shadow: 0 /*{n-bdown-shadow-x}*/ 1px /*{n-bdown-shadow-y}*/ 1px /*{n-bdown-shadow-radius}*/ #fff /*{n-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f4f9fb /*{n-bdown-background-start}*/), to( #bbcfdd /*{n-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f4f9fb /*{n-bdown-background-start}*/, #bbcfdd /*{n-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f4f9fb /*{n-bdown-background-start}*/, #bbcfdd /*{n-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f4f9fb /*{n-bdown-background-start}*/, #bbcfdd /*{n-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f4f9fb /*{n-bdown-background-start}*/, #bbcfdd /*{n-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f4f9fb /*{n-bdown-background-start}*/, #bbcfdd /*{n-bdown-background-end}*/);
}
.ui-btn-down-n:visited,
.ui-btn-down-n:hover,
.ui-btn-down-n a.ui-link-inherit {
	color: #333 /*{n-bdown-color}*/;
}
.ui-btn-up-n,
.ui-btn-hover-n,
.ui-btn-down-n {
	      font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* O
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-o {
	border: 1px solid #b3b3b3 /*{o-bar-border}*/;
	background: #eeeeee /*{o-bar-background-color}*/;
	color: #3e3e3e /*{o-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{o-bar-shadow-x}*/ 1px /*{o-bar-shadow-y}*/ 0 /*{o-bar-shadow-radius}*/ #ffffff /*{o-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 /*{o-bar-background-start}*/), to( #dddddd /*{o-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f0f0f0 /*{o-bar-background-start}*/, #dddddd /*{o-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f0f0f0 /*{o-bar-background-start}*/, #dddddd /*{o-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f0f0f0 /*{o-bar-background-start}*/, #dddddd /*{o-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f0f0f0 /*{o-bar-background-start}*/, #dddddd /*{o-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f0f0f0 /*{o-bar-background-start}*/, #dddddd /*{o-bar-background-end}*/);
}
.ui-bar-o .ui-link-inherit {
	color: #3e3e3e /*{o-bar-color}*/;
}
.ui-bar-o a.ui-link {
	color: #7cc4e7 /*{o-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-o a.ui-link:visited {
    color: #2489ce /*{o-bar-link-visited}*/;
}
.ui-bar-o a.ui-link:hover {
	color: #2489ce /*{o-bar-link-hover}*/;
}
.ui-bar-o a.ui-link:active {
	color: #2489ce /*{o-bar-link-active}*/;
}
.ui-bar-o,
.ui-bar-o input,
.ui-bar-o select,
.ui-bar-o textarea,
.ui-bar-o button {
	  font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-o,
.ui-overlay-o {
	border: 1px solid #aaaaaa /*{o-body-border}*/;
	color: #333333 /*{o-body-color}*/;
	text-shadow: 0 /*{o-body-shadow-x}*/ 1px /*{o-body-shadow-y}*/ 0 /*{o-body-shadow-radius}*/ #ffffff /*{o-body-shadow-color}*/;
	background: #f9f9f9 /*{o-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{o-body-background-start}*/), to( #eeeeee /*{o-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{o-body-background-start}*/, #eeeeee /*{o-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{o-body-background-start}*/, #eeeeee /*{o-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{o-body-background-start}*/, #eeeeee /*{o-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{o-body-background-start}*/, #eeeeee /*{o-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{o-body-background-start}*/, #eeeeee /*{o-body-background-end}*/);
}
.ui-overlay-o {
	background-image: none;
	border-width: 0;
}
.ui-body-o,
.ui-body-o input,
.ui-body-o select,
.ui-body-o textarea,
.ui-body-o button {
	  font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-o .ui-link-inherit {
	color: #333333 /*{o-body-color}*/;
}
.ui-body-o .ui-link {
	color: #2489ce /*{o-body-link-color}*/;
	font-weight: bold;
}
.ui-body-o .ui-link:visited {
    color: #2489ce /*{o-body-link-visited}*/;
}
.ui-body-o .ui-link:hover {
	color: #2489ce /*{o-body-link-hover}*/;
}
.ui-body-o .ui-link:active {
	color: #2489ce /*{o-body-link-active}*/;
}
.ui-btn-up-o {
	border: 1px solid #cccccc /*{o-bup-border}*/;
	background: #eeeeee /*{o-bup-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{o-bup-color}*/;
	text-shadow: 0 /*{o-bup-shadow-x}*/ 1px /*{o-bup-shadow-y}*/ 0 /*{o-bup-shadow-radius}*/ #ffffff /*{o-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{o-bup-background-start}*/), to( #f1f1f1 /*{o-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{o-bup-background-start}*/, #f1f1f1 /*{o-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{o-bup-background-start}*/, #f1f1f1 /*{o-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{o-bup-background-start}*/, #f1f1f1 /*{o-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{o-bup-background-start}*/, #f1f1f1 /*{o-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{o-bup-background-start}*/, #f1f1f1 /*{o-bup-background-end}*/);
}
.ui-btn-up-o:visited,
.ui-btn-up-o a.ui-link-inherit {
	color: #2f3e46 /*{o-bup-color}*/;
}
.ui-btn-hover-o {
	border: 1px solid #bbbbbb /*{o-bhover-border}*/;
	background: #dfdfdf /*{o-bhover-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{o-bhover-color}*/;
	text-shadow: 0 /*{o-bhover-shadow-x}*/ 1px /*{o-bhover-shadow-y}*/ 0 /*{o-bhover-shadow-radius}*/ #ffffff /*{o-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{o-bhover-background-start}*/), to( #e0e0e0 /*{o-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{o-bhover-background-start}*/, #e0e0e0 /*{o-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{o-bhover-background-start}*/, #e0e0e0 /*{o-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{o-bhover-background-start}*/, #e0e0e0 /*{o-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{o-bhover-background-start}*/, #e0e0e0 /*{o-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{o-bhover-background-start}*/, #e0e0e0 /*{o-bhover-background-end}*/);
}
.ui-btn-hover-o:visited,
.ui-btn-hover-o:hover,
.ui-btn-hover-o a.ui-link-inherit {
	color: #2f3e46 /*{o-bhover-color}*/;
}
.ui-btn-down-o {
	border: 1px solid #bbbbbb /*{o-bdown-border}*/;
	background: #d6d6d6 /*{o-bdown-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{o-bdown-color}*/;
	text-shadow: 0 /*{o-bdown-shadow-x}*/ 1px /*{o-bdown-shadow-y}*/ 0 /*{o-bdown-shadow-radius}*/ #ffffff /*{o-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{o-bdown-background-start}*/), to( #dfdfdf /*{o-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{o-bdown-background-start}*/, #dfdfdf /*{o-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{o-bdown-background-start}*/, #dfdfdf /*{o-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{o-bdown-background-start}*/, #dfdfdf /*{o-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{o-bdown-background-start}*/, #dfdfdf /*{o-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{o-bdown-background-start}*/, #dfdfdf /*{o-bdown-background-end}*/);
}
.ui-btn-down-o:visited,
.ui-btn-down-o:hover,
.ui-btn-down-o a.ui-link-inherit {
	color: #2f3e46 /*{o-bdown-color}*/;
}
.ui-btn-up-o,
.ui-btn-hover-o,
.ui-btn-down-o
{
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}