@charset "UTF-8";
.jobMngmtBkgd {
	background-color: #CDE2EE;
	background-image: url(../td_jobManagement/images/job_mngmt_bkgd.jpg);
	background-repeat: repeat-x;
}
.logo_underline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #142E79;
	padding-bottom: 15px;
}
.welcomeTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}
.thumbnail {
	border: 1px solid #e1e1e1;
	-moz-box-shadow: 0 3px 5px #888;
	-webkit-box-shadow: 0 3px 5px#888;
	box-shadow: 0 3px 5px #888;
}
.bodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
.roundedCorners {
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #F4F4F4;
	border: 1px solid #B2B2B2;
}
.even {
	background-color:#EEE
}
.odd {
	background-color:#FFF
}
